.overlay{
  @include overlay;
}
.switch{
  @include checkbox-switch;
}


@at-root .intercasino-theme{
    background: #e5e5e5;
}

.main-content{
  @include main-content;
}

#list-games{
  @include game-list;
  .game{
    display: inline-block;
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                      supported by Chrome, Edge, Opera and Firefox */
}

#sub-content{
  @include sub-content;
  padding: 40px;
}

.no-available-games{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  h4{
    font-size: 30px;
    color: #cecece;
  }
}

#pagination-wrapper{
  .pagination-text{
    color: #000;
    font-size: 20px;
    position: relative;

    &:before{
      content: '';
      display: block;
      background: #000;
      height: 2px;
      width: 200px;
      position: absolute;
      left: 17%;
      transform: translate(0, -50%);
      top: 50%;
    }
    &:after{
      content: '';
      display: block;
      background: #000;
      height: 2px;
      width: 200px;
      position: absolute;
      right: 17%;
      transform: translate(0, -50%);
      top: 50%;
    }
  }
  .load-more{
    font-size: 15px;
    color: #d2ac48;
  }
}

// Buttons
button{
  border: none;
  outline: 0;
  min-width: 90px;
  padding: 8px;
}
.btn-primary{
  @include button-primary;
}
.btn-warning{
  @include button-warning;
}

.find{
  position: relative;
  padding-left: 35px;

  &:before{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);
    background-image: url(https://cdn.plaingaming.net/files/repository/105/1/10003/all/all/image/visible-on-load.png?qo78mr&601b&6012);
    background-repeat: no-repeat;
    background-position: -84px -180px;
    height: 16px;
    width: 16px;
    content: '';
  }
}

.highlight{
  color: $HIGHLIGHT;
}

//FORM
input{
  @include input;
}
