@mixin main-content{
  background: $MAIN_CONTENT_BG;
  box-shadow: 12px 0 15px -10px #9e9e9e, -12px 0 8px -10px #9e9e9e;
  padding: 20px;
  box-sizing: border-box;
  min-height: calc(100vh - 250px);
}

@mixin game-list{
  color: $GAME_TITLE_COLOR;
  font-size: $GAME_FONT_SIZE;
  text-align: center;
}

@mixin sub-content{
  background: $ARTICLE_BG;
  border-top: $BORER;
  border-bottom: $BORER;

  h2{
    color: $ARTICLE_SUBTITLE_COLOR;
    font-size: 36px;
  }
  h3{
    color: $H3_COLOR;
    font-size: 17px;
  }
  p{
    color: $ARTICLE_TEXT_COLOR;
    font-size: 14px;
  }
}

@mixin input{
  font-size: 13px;
  outline: 0;
  padding: 5px;
  border: none;
  box-shadow: inset 0 3px 3px rgba(10,50,70,.16);
}

@mixin overlay{
  backdrop-filter: blur(15px);
  position: absolute;
  left: 0;
  background: $OVERLAY_BG;
  border-radius: 10px;
  padding: 30px;
  min-height: 60vh;
  height: 100%;
  text-align: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;

  &:before{
    position: absolute;
    left: 31px;
    top: -10px;
    content: "";
    display: block;
    border-width: 0 10px 10px;
    border-style: solid;
    border-color: $OVERLAY_BG transparent;
  }

  h3{
    color: #fff;
    margin-top: 0;
  }
}

@mixin checkbox-switch{
    display: inline-block;

    input {
      opacity: 0;
      height: 0;
      width: 0;
      margin: 0;
    }

    .slider {
      -webkit-transition: .1s;
      transition: .1s;
      border: 2px solid $CHECKBOX_BORDER;
      border-radius: 20px;
      padding: 10px 20px;
      cursor: pointer;
      float: left;
      margin: 5px;
      color: #fff;
    }

    input + .slider:hover,
    input:checked + .slider {
      border-color: $CHECKBOX_BG_CURRENT_BORDER;
    }

    input:checked + .slider {
      box-shadow: 1px 1px 8px lighten($CHECKBOX_BG_CURRENT_BORDER, 10%);
    }
}

// BUTTONS
@mixin button-primary {
  background: $BTN_PRIMARY_BG;
  border: solid 1px $WARNING;
  color: $BTN_PRIMARY_COLOR;

  &:hover{
    background: $BTN_PRIMARY_HOVER_BG;
  }
}

@mixin button-warning {
  background: $BTN_WARNING_BG;
  color: $BTN_WARNING_COLOR;

  &:hover{
    background: $BTN_WARNING_HOVER_BG;
  }
}
