.vjlp4-main {
  background: $BODY_BG;
}

.logo{
  max-width: 80px;
  display: block;
  margin: 70px auto 25px auto;
}

.material-icons{
  font-family: "Material Icons";
  font-style: normal;
}
.highlight{
  color: $HIGHLIGHT;
}

h1{
  color: $TITLE_COLOR;
  font-size: $TITLE_SIZE;
}

h2{
  color: $SUBTITLE_COLOR;
  font-size: $SUBTITLE_SIZE;
}

h3{
  color: $H3_COLOR;
  font-size: $TEXT_SIZE;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px dashed #fee63d;
}

p, li{
  color: $TEXT_COLOR;
  font-size: $TEXT_SIZE;
}
button{
  background: $BTN_BG;
  border: none;
  border-radius: 100px;
  padding: 10px;
  max-width: 555px;
  width: 100%;
  margin: auto;
  display: block;

  &:hover{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.60);
  }
}

#login{
  position: absolute;
  top: 10px;
  right: 10px;
  color: $TEXT_COLOR;
  text-align: center;

  a{
    border: none;
    color: $TEXT_COLOR;
  }

  i{
    font-size: 32px;
    display: block;
    font-style: normal;
  }

  span{
    color: $TEXT_COLOR;
    font-size: $TEXT_SIZE;
  }
}

#hero{
  text-align: center;
  .container > div{
    position: relative;
  }

  small{
    color: $TEXT_COLOR;
    font-size: calc(#{$TEXT_SIZE - 5px});
  }

  .banner{
    img{
      display: block;
      margin: auto;
      width: 100%;
    }
    img:first-child{
      max-width: 430px;
    }
    img:first-child + img{
      max-width: 350px;
    }
  }

  #banner-terms{
    text-align: center;
    position: absolute;
    width: 100%;
    transform: translate(-50%);
    left: 50%;
    bottom: 20px;

    button{
      margin-bottom: 50px;
    }
  }
}

#payment{
  img{
    width: 100%;
  }
}

#details{
  background: linear-gradient(180deg, rgba(0,79,184,1) 0%, rgba(0,175,255,1) 50%);
  text-align: center;

  button{
    margin: 20px auto;
    font-size: calc(#{$TEXT_SIZE + 5px});
  }

  img{
    display: block;
    margin: auto;
    max-width: 896px;
    width: 100%;
  }
}

.separator{
  border-bottom: 3px solid #0093D4;
}
