/*--BACKGROUNDS COLORS / IMAGES--*/
.vjlp5-main{
  background: $BODY_BG;
}
#header{
  background: $HEADER_BG;
  border-bottom: 3px solid #0082ba;

  .nav-links{
      a{
          border: none;
      }
  }
}

h2{
  color: $SUB_TITLE_COLOR
}

p, li {
    color: $TEXT_COLOR;
    line-height: 21px;
}
a{
    color: inherit;
    text-decoration: none;
    border-bottom: 2px dashed #FEE63D;
}

button {
    border: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
}
button.warning{
    background: $BTN_WARNING;

    &:hover{
        background: linear-gradient(180deg,#ffe238,#ffa92d);
    }
}
button.error{
    background: $BTN_ERROR;

    &:hover{
        background: linear-gradient(180deg,#ff65e5,#fa1e93);
    }
}

.separator{
    border-bottom: 3px solid #0093D4;
    margin-top: 50px;
}

.container.svg{
    display: block;

    > div{
        display: inline-block;
    }
}

#carousel{
    padding: 20px;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);

    .container{
        display: block;
    }
}
.slide-content{
    outline: 0;
    img{
        margin: auto;
    }
}



#hero {
    background-color: $HERO_BG;
}
#hero .banner{
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
}


#steps{
    .container{

        .num{
            background: #fff;
        }
    }
}
