/* STYLE FOR VJLP3 */
@import 'variables';
@import 'base';
@import 'mediaqueries';


.st0{fill:#84D5F7;}
.st1{opacity:0.6;}
.st2{fill:none;stroke:#84D5F7;stroke-miterlimit:10;}
.st3{fill:#84D5F7;stroke:#84D5F7;stroke-miterlimit:10;}
.st4{opacity:0.45;}
.st5{opacity:0.8;}
.st6{fill:none;}
