/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  .desktop{
    display: none;
  }
  .mobile{
    display: block;
  }
  /*--FONT SIZE--*/
  h2{
    font-size: $SUB_TITLE_SIZE;
    text-align: center;
  }
  p, li{
    font-size: $TEXT_SIZE;
    text-align: justify;
  }
  button{
    font-size: $BTN_SIZE;
    padding: 6px 12px;
    color: $BTN_COLOR;
  }

  section,
  footer{
      padding: 5px 10px;
  }

  #header{
    position: relative;
    padding-left: 15px;
    padding-right: 15px;

    button.warning{
      display: none;
    }
  }
  #header .row{
    justify-content: flex-end;
  }
  #header .logo{
    position: absolute;
    left: 0;
    top: -8px;

    img{
      width: 75px;
      height: 75px;
    }
  }
  #header .nav-links {
      margin: 15px 0;
      flex-grow: 0;

      > button{
        margin: 0 5px;
        font-size: 14px;
      }
  }

  #hero{
  background: linear-gradient(rgba(0,0,0,.15),rgba(0,0,0,.15)), var(--bg-banner) 50% no-repeat;
    padding: 0;

    .row{
      min-height: 400px;
    }

    .container{
      background: var(--bg-image-m) no-repeat center;
      background-size: var(--mobile-width-banner);
    }
    #banner-button{
      margin-bottom: 30px;
    }

    // h1{
    //   font-size: 20px;
    //   text-shadow: rgb(255, 255, 255) 0px 0px 0.6rem,
    //   rgb(255, 255, 255) 0px 0px 1.5rem,
    //   rgb(255, 255, 255) -0.2rem 0.1rem 1rem,
    //   rgb(255, 255, 255) 0.2rem 0.1rem 1rem,
    //   rgb(255, 255, 255) 0px -0.5rem 2rem,
    //   rgb(255, 255, 255) 0px 0.5rem 3rem;
    //   color: $TEXT_COLOR;
    //   font-weight: 700;
    //   font-family: 'MainFont-Medium', sans-serif;
    //
    //   span{
    //     color: rgb(255, 217, 102);
    //   }
    // }
  }


  #hero button{
      display: block;
      margin: 0 auto;
      min-width: 150px;
      padding: 6px 50px;
  }

  #steps{
    background: #EC008B;

    .container{
      display: block;
      text-align: center;

      > div{
        display: inline-block;
        vertical-align: top;
        width: 31%;
        overflow: hidden;
        margin-top: -30px;

        .num{
          width: 50px;
          height: 50px;
          align-items: center;
          display: flex;
          justify-content: center;
          border-radius: 50%;
          -moz-border-radius: 50%;
          color: #EC008B;
          font-size: 40px;
          font-weight: 700;
          margin: auto;
          font-family: 'MainFont-DemiBold';
        }

        h3{
          color: $SUB_TITLE_COLOR;
        }

        p{
          text-align: center;
        }

      }
    }
  }

  #section1 h2{
    font-size: 46px;
    line-height: 65px;
  }

  #section2 h2{
      text-align: left;
  }

  #section3{
    .container{
      background: url('https://files.vjpromo.com/bannerflow/lp-core/pp/payment_jp.svg') center center no-repeat;
      min-height: 100px;
    }
  }
}

/* Iphone 5/SE */
@media (max-height: 568px) and (max-width: 320px){
  #hero{
    .row{
      min-height: 350px;
    }
      // .banner{
      //   top: 50px;
      //   max-width: 150px;
      // }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 576px) {
  #header .nav-links {
    button:first-child{
      display: inline-block;
    }
  }
  #hero{
  background: linear-gradient(rgba(0,0,0,.15),rgba(0,0,0,.15)), var(--bg-banner) 50%;
    .row{
      min-height: 650px;
    }
    .container{
      background: var(--bg-image-m) no-repeat center;
      background-size: cover;
    }
  }
  #steps{
    .container{

      > div {
        .num{
          width: 80px;
          height: 80px;
        }
      }
    }
  }

  #section3{
      .container{
        min-height: 200px;
      }
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .desktop{
    display: block;
  }
  .mobile{
    display: none;
  }
  #header .logo{
      top: -30px;
      img{
        max-width: 128px;
        width: 100%;
        height: auto;
      }
  }

  #hero{
    background: linear-gradient(rgba(0,0,0,.15),rgba(0,0,0,.15)), var(--bg-banner) center;
    .row{
      min-height: 320px;
    }
    .container{
      background: var(--bg-image) no-repeat center;
      background-size: var(--desktop-width-banner);
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  #hero{
      background-size: cover;
  }
  #section3{
    .container{
      background: url(https://files.vjpromo.com/bannerflow/lp-core/pp/payment_large_jp.svg) center center no-repeat;
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  #header{
    .nav-links{
      -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
      -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
      box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
      border-radius: 5px;
      padding: 8px;

      button{
        min-width: 150px;
        a{
          padding: 6px 50px;
          font-size: 17px;
        }
      }
    }
  }
  #hero{
    background: linear-gradient(rgba(0,0,0,.15),rgba(0,0,0,.15)), var(--bg-banner) center;
    .container{
      background: var(--bg-image) no-repeat center;
      background-size: contain;
    }
    .banner{
      max-width: 800px;
      margin: auto;
    }
  }

  #steps{
    .container{

      > div {
        margin-top: 0;

        > * {
          float: left;
          text-align: left;
        }

        h3{
          font-size: 32px;
          margin: 0;
          font-weight: 400;
        }

        .num + div{
          margin-left: 20px;
        }

        .num{
          width: 100px;
          height: 100px;
          font-size: 80px;
        }
      }
    }
  }

  #section1 h2{
    font-size: 60px;
  }
}
