.iclp3-main{
  background: url('../assets/images/iclp3V2/oiran-bg.jpg') no-repeat;
  background-attachment: fixed;
}

#hero{
  .firstview__counter{
    > *{
      display: inline-block;
    }

    .number{
      font-family: Trebuchet MS, Arial, sans-serif;
      font-size: 60px;
      line-height: 60px;
      display: block;
      float: left;
      width: 45px;
      height: 60px;
      text-align: center;
      color: #fff;
      border-radius: 5px;
      background: #ff2896;
      background: url('../assets/images/iclp3V2/bg_counter.png') no-repeat 50%;
      background-size: 45px 60px;

      .lower{
        line-height: 0;
        position: absolute;
        top: 50%;
        overflow: hidden;
        height: 50%;
        background-position: bottom;
      }

      .fliptop {
        position: absolute;
        top: 0;
        overflow: hidden;
        height: 50%;
        -webkit-transform: perspective(200px) rotateX(0deg);
        transform: perspective(200px) rotateX(0deg);
        -webkit-transform-origin: 30px 30px;
        transform-origin: 30px 30px;
        background-position: top;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }

      .flipbottom {
        line-height: 0;
        position: absolute;
        top: 50%;
        overflow: hidden;
        height: 50%;
        -webkit-transform: perspective(200px) rotateX(180deg);
        transform: perspective(200px) rotateX(180deg);
        -webkit-transform-origin: 30px 0;
        transform-origin: 30px 0;
        background-position: bottom;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
    }
  }
}
