.iclp3-main{
  background: url('../assets/images/iclp3V2/oiran-bg.jpg') no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

#main-content{
  border-top: solid 3px $SEPARATION_BORDER_COLOR;
  border-bottom: solid 3px $SEPARATION_BORDER_COLOR;
}

#main-content,
#payment,
#firstvie__inquiry > div,
footer{
  background: $BODY_BG;
  z-index: 1;
  position: relative;
}
#firstvie__inquiry{
  text-align: center;
}
#firstvie__inquiry > div{
  padding: 4px;

  .firstvie__inquiry__inner{
    border: solid 2px #fff;
    padding: 15px;
  }

  h3{
    color: #ff0;
    margin: 0;
  }

  button{
    background: transparent;
    border: none;
    color: #fff;
    border-bottom: solid 1px #fff;
    font-size: 18px;
    font-weight: 700;
  }
}

.box{
  background: url('../assets/images/iclp3V2/bg_patern_border.jpg');
  max-width: 800px;
  margin: 130px auto 10px auto;
  border: 6px solid #faf299;
  border-radius: 30px;
  padding: 30px;

  .image-title{
    width: 90%;
    margin: -130px auto 0 auto;
    display: block;
  }
}

#payment{
  border-top: solid 3px $SEPARATION_BORDER_COLOR;
  img{
    width: 100%;
  }
}

dt{
  color: $SUBTITLE_COLOR;
  font-size: $TEXT_SIZE;
}
dd{
  margin: 0;

  li{
    color: $TEXT_COLOR;
  }
}

footer{
  p{
    color: $TEXT_COLOR;
  }
}
