/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  section,
  footer{
    padding: 20px 10px;
    box-sizing: border-box;
  }
  .desktop{
    display: none;
  }
  .mobile{
    display: block;
  }

  #firstview{
    min-height: 600px;
    .container{
      display: block;
    }
  }
  .firstview__anime{
    top: -150px;
  }

  .touch{
    position: relative;
    z-index: 1;

    img{
      width: 144px;
    }
  }
  .dream-logo{
    position: relative;
    margin: auto;

    img{
      width: 160px;
      display: block;
      margin: auto;
    }
  }

  .firstvie__inquiry{
    position: relative;
    z-index: 1;
  }

  .firstview__counter{
    position: relative;
    left: -8%;
    transform: scale(.8);
    width: 320px;
    min-height: 65px;
    margin: 150px auto 0 auto;

    &:before{
      background: url('../assets/images/iclp3V2/counter_touch.png');
      width: 125px;
      height: 40px;
      display: block;
      content: '';
      background-size: cover;
      position: absolute;
      right: -10px;
      top: 30px;
      margin-top: -20px;
    }
  }

  .number{
    background: url("../assets/images/iclp3V2/bg_counter.png") no-repeat;
    background-size: 45px 60px;
  }


  footer{

    #footer-icon{
      text-align: center;

      > a{
        display: inline-block;
        min-width: 70px;
        vertical-align: middle;
        border: none;
        margin: 0 8px;
      }
    }

    .second-footer{
       padding: 25px 30px;
    }

    p{
      text-align: center;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 576px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .dream-logo{
    position: absolute;
    top: 0;
    right: 0;

    img{
      width: 250px;
    }
  }
  .firstview__counter{
    width: 550px;
    min-height: 100px;
    left: 0;
    margin-top: 350px;

    &:before{
      width: 200px;
      height: 60px;
    }
  }

  .number{
    background-size: 75px 95px;
  }

  #firstvie__inquiry{
    width: 300px;
    position: absolute;
    top: 44%;
    right: 0;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .desktop{
    display: block;
  }
  .mobile{
    display: none;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
