* {
  font-family: 'MainFont-Medium';
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'MainFont-Bold', sans-serif;
  color: $TEXT_COLOR;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 0.3px;
  margin: 0;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}
section,
footer {
  padding: 20px 10px;
  background: $BG_MAIN;
}
a {
  color: $LINK_COLOR;
  // &:hover{
  //   color: $LINK_COLOR_HOVER;
  // }
}
p {
  color: $TEXT_COLOR;
}
ul {
  margin: 0;
}
button {
  background-color: $WARNING;
  border-radius: 100px;
  padding: 10px 40px;
  border: 0;
  color: $TEXT_COLOR;
  font-size: 1.5em;
  width: 280px;
  margin: 20px 0;
  display: block;
  margin: 10px auto;
  &:hover {
    background: $BTN_HOVER;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}

#hero {
  height: 100%;
  position: relative;
  text-align: center;
  &:after {
    display: block;
    content: '';
    background: linear-gradient(90deg, #9800FF 0%, #FF005A 100%);
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    position: absolute;
  }
  img {
    display: block;
    margin: auto;
  }
}
#steps {
  height: 100%;
  position: relative;
  &:after {
    display: block;
    content: '';
    background: linear-gradient(90deg, #9800FF 0%, #FF005A 100%);
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    position: absolute;
  }
  img {
    display: block;
    margin: auto;
  }
}
#payment {
  border-bottom: solid 2px $BORDER_COLOR;
  img {
    width: 100%;
  }
}
#terms {
  background: $BG_MAIN;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0;
  .container div {
    padding-left: 0;
    padding-right: 0;
  }
  h3 {
    color: $H3_COLOR;
    text-transform: uppercase;
  }
  ul {
    margin: 10px 0;
    li {
      color: #fff;
    }
  }
}
.material-icons {
  font-family: 'Material Icons';
  color: $TEXT_COLOR;
  font-style: normal;
  font-size: 30px;
}