/* Colors

#000000 - Black
#141414 - ALT-Black
#FF6200 - Orange
#FF7C2B - ALT-Orange
#F20574 - Magenta
#8405D9 - Purple
#008AE5 - Blue
#FFC414 - Yellow

linear-gradient(90deg, #9800FF 0%, #FF005A 100%) - Gradient
radial-gradient(79.8% 83.33% at 69.58% -11.63%, rgba(242, 5, 116, 0.3) 0%, rgba(132, 5, 217, 0.3) 62.74%, #000000 100%) !important

English fonts:
Display fonts = Passion one
H fonts = Roboto

Japan fonts:
Display fonts = LighyNovelPop
H fonts = Noto sans

*/


/* Fonts */
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@font-face {
  font-family: 'MainFont-DemiBold';
  src: url('https://files.vjpromo.com/bannerflow/lp-core/brand_icjp/fonts/lighnovelpop.eot'); /* IE9 Compat Modes */
  src: url('https://files.vjpromo.com/bannerflow/lp-core/brand_icjp/fonts/lighnovelpop.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://files.vjpromo.com/bannerflow/lp-core/brand_icjp/fonts/lighnovelpop.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://files.vjpromo.com/bannerflow/lp-core/brand_icjp/fonts/lighnovelpop.woff') format('woff'), /* Pretty Modern Browsers */
       url('https://files.vjpromo.com/bannerflow/lp-core/brand_icjp/fonts/lighnovelpop.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('https://files.vjpromo.com/bannerflow/lp-core/brand_icjp/fonts/lighnovelpop.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'MainFont-Bold';
  src: url('https://files.vjpromo.com/bannerflow/lp-core/brand_icjp/fonts/notosans-bold.eot'); /* IE9 Compat Modes */
  src: url('https://files.vjpromo.com/bannerflow/lp-core/brand_icjp/fonts/notosans-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://files.vjpromo.com/bannerflow/lp-core/brand_icjp/fonts/notosans-bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://files.vjpromo.com/bannerflow/lp-core/brand_icjp/fonts/notosans-bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('https://files.vjpromo.com/bannerflow/lp-core/brand_icjp/fonts/notosans-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('https://files.vjpromo.com/bannerflow/lp-core/brand_icjp/fonts/notosans-bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'MainFont-Medium';
  src: url('https://files.vjpromo.com/bannerflow/lp-core/brand_icjp/fonts/notosans.eot'); /* IE9 Compat Modes */
  src: url('https://files.vjpromo.com/bannerflow/lp-core/brand_icjp/fonts/notosans.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://files.vjpromo.com/bannerflow/lp-core/brand_icjp/fonts/notosans.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://files.vjpromo.com/bannerflow/lp-core/brand_icjp/fonts/notosans.woff') format('woff'), /* Pretty Modern Browsers */
       url('https://files.vjpromo.com/bannerflow/lp-core/brand_icjp/fonts/notosans.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('https://files.vjpromo.com/bannerflow/lp-core/brand_icjp/fonts/notosans.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/* Main */
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
body { background: #000000 !important }
.logo { background: url("https://files.vjpromo.com/bannerflow/lp-core/brand_icjp/img/logo.png") no-repeat center; width: 100%; height: 200px; margin-bottom: 40px; background-size: contain; }
.strip { color: white; /* background: rgba(0,159,227,0.5); */ text-shadow: 0px 0px 10px rgba(0, 0, 0, 1); }
section { padding:20px 0; }
p { text-align:justify; color: #ffffff	}
.nopadding { padding: 0 !important; }
a { font-family: 'MainFont-Bold', sans-serif; color: #F20574; text-decoration: underline }
a:hover { font-family: 'MainFont-Bold', sans-serif; color: #8405D9;  }
a:visited { font-family: 'MainFont-Bold', sans-serif; color: #F20574;  }
#footer { padding-top:10px;}
.pp { border-top: 2px solid #8405D9; border-bottom: 2px solid #8405D9; }
#terms { margin-top: 20px; }
#terms h3 { color:#F20574; text-transform: uppercase;  }

/* Brand Colors*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.color-main { color: #F20574; }
.background-main { background: #000000; }
.color-alt { color: #8405D9; }
.bg-alt { background: #000000; }
.color-alt-two { color: #F20574; }
.bg-alt-two { background: #8405D9; }
.gb { background: linear-gradient(90deg, #9800FF 0%, #FF005A 100%); padding: 2px 0; }
/* Grayscale Filter */
.payment-providers, .icons {  -webkit-filter: grayscale(100%); -webkit-filter: grayscale(1); filter: grayscale(100%); filter: gray; }


/* Brand Buttons */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.button { font-size: 1.125em; border-radius: 100px; padding: 10px 40px; background: #FF6200; color: #FFFFFF; width: 280px; margin: 50px auto; clear: both; cursor: pointer; text-align: center; display: block; border: none; font-family: 'MainFont-DemiBold', sans-serif !important;  text-decoration:none !important; text-shadow: none !important; }
.button-lrg { font-size: 1.3em; }
.button:hover { background: #FF7C2B; box-shadow: 0 2px 2px 0 rgba(0,0,0,0.60); color: #FFFFFF; text-decoration: none; border: none; }
.button:active { background: #FF7C2B; text-decoration: none; border: none; }
.button:visited { color: #FFFFFF; text-decoration: none; border: none; }
/* #strip .button { display:none; font-family: 'MainFont-Bold', sans-serif !important; font-size:1.5em } */
#strip .button { font-family: 'MainFont-Bold', sans-serif !important; font-size:1.5em }


/* Steps */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.steps { text-transform: uppercase; overflow: hidden; }
.steps .step { margin-top: 15px; }
.steps .num { float: left; display: block; font-size: 5em; background: white; width: 100px; height: 100px; border-radius: 100%; color:#F20574; font-style: normal; font-family: 'MainFont-DemiBold', sans-serif; text-align: center; font-weight: bold; margin: 0 20px 0 0; line-height: 115px; }
.steps h2 { color:#F20574; font-size: 2em; text-align: left;  }
.steps h3 { color: white; font-size: 1em; text-align: left; font-family: 'MainFont-Medium', sans-serif; }


/* Form */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////// */
#stripblank { background: #000000 radial-gradient(79.8% 83.33% at 69.58% -11.63%, rgba(242, 5, 116, 0.3) 0%, rgba(132, 5, 217, 0.3) 62.74%, #000000 100%); /* FF3.6-15 */ }
#form-container { width:280px; margin: 50px auto;  }
.mt-btn { font-size: 1.125em; border-radius: 100px; padding: 15px 20px 10px 20px; background: #FF6200; color: #FFFFFF; margin: 0px auto; clear: both; cursor: pointer; text-align: center; display: block; border: none;   }
.mt-btn:hover { box-shadow: 0 2px 2px 0 rgba(0,0,0,0.60); color: #FFFFFF; text-decoration: none; border: none; }
.mt-btn:active { background: #FF7C2B; text-decoration: none; border: none; }
.mt-btn:visited { color: #FFFFFF; text-decoration: none; border: none; }
input { border-radius: 50px; border: none; padding:5px 20px; }
