@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("../vjlp-core/animate.min.css");
@import url("../vjlp-core/bootstrap.min.css");
@import url("../vjlp-core/fonts.css");
@import url("../vjlp-core/hover-min.css");
@import url("../vjlp-core/slick.css");
@import url("./brand.css");
@import url("./core.css");
@import url("./responsive.css");
@import url("./flicker.css");

.prev-strip-container {
  margin-top: 73.5px;
}

.prev-main-heading {
  font-size: 3.6em;
}

.prev-signup-btn {
  display: block;
}

.prev-border {
  border-top: 0px;
}

.game-logo {
  background: var(--game-logo) no-repeat center;
  background-size: contain;
  width: auto;
  height: 150px;
  z-index: 999999;
}

#strip-container {
  background: var(--bg-image) no-repeat top center;
  background-size: var(--desktop-width-banner);
}

@media only screen and (max-width: 991px) {
  /* #signup-btn { margin-bottom: 2.5rem; } */
}

@media only screen and (max-width: 575px) {
  #strip-container {
    background: var(--bg-image-m) no-repeat top center;
    background-size: var(--mobile-width-banner);
  }
}

.sign {
  color: #ffe6ff;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  animation: shine 2s forwards, flicker 3s infinite;
}
