/* #Media Queries
================================================== */

/* Height
================================================== */


@media only screen and (min-height: 1400px) and (max-height: 2000px) {
  #strip-container { height: 50vh }
}

@media only screen and (max-height: 750px) {
  #strip-container { height: 110vh;  }
  .logo { height: 50px !important; margin-bottom: 20px; }
  h1 { font-size:2em; }
  h2 { font-size:1.2em; }
  .button { padding:10px 20px; }
}

/* Width
================================================== */

/* Retina Images */
@media all and (-webkit-min-device-pixel-ratio: 2) {


}

@media only screen and (max-width: 1482px) {

}


/* Widescreens (devices and browsers) 1200px*/
@media only screen and (min-width : 1224px) {


}

/* Specific Widescreen Only (devices and browsers) 1280px*/
@media only screen and (max-width: 1500px) {

 #strip-container .logo { height: 100px !important; margin-bottom: 20px; }
#strip h1 { font-size: 2em; line-height: normal; }
#strip h2 { font-size: 1.5em; line-height: normal;  }
}

/* .col-lg < 1200px*/
@media only screen and (max-width: 1199px) {

}

/* Tablet Landscape + (devices and browsers - main 960) 1024px*/
@media only screen and (max-width: 1024px) {

}


/* Smaller than standard 960 (devices and browsers) 959px*/
 @media only screen and (max-width: 959px) {

}

/* .col-md < 992px*/
@media only screen and (max-width: 991px) {
.logo { height: 100px; margin-bottom: 20px; }
.button { margin: 10px auto; }
  #strip { padding-bottom: 30px;  }
.steps { overflow: visible; padding-bottom: 10px; }
.steps h2, .steps h3 { text-align: center !important; }
.steps .num { float: none;  margin: -50px auto 0 auto; width: 50px; height: 50px; font-size: 2.5em; line-height: 60px;  }
#strip-container { max-width: 100%; }
.payment-providers { margin: 20px 0; }
   #strip .button { display:block; }
.small-terms { display:block; }

.payment-providers { width:100%; height:100px; background: url("https://files.vjpromo.com/bannerflow/lp-core/pp/payment_en.svg") center center no-repeat; background-size: contain; float:left; clear:both; margin: 10px 0; }
#en-gb .payment-providers {height:150px; background: url("https://files.vjpromo.com/bannerflow/lp-core/pp/payment_uk.svg") center center no-repeat;}
#fi-fi .payment-providers {height:150px; background: url("https://files.vjpromo.com/bannerflow/lp-core/pp/payment_fi.svg") center center no-repeat;}
#de-de .payment-providers {height:150px; background: url("https://files.vjpromo.com/bannerflow/lp-core/pp/payment_de.svg") center center no-repeat;}
#nb-no .payment-providers {height:150px; background: url("https://files.vjpromo.com/bannerflow/lp-core/pp/payment_no.svg") center center no-repeat;}
#sv-se .payment-providers {height:150px; background: url("https://files.vjpromo.com/bannerflow/lp-core/pp/payment_se.svg") center center no-repeat;}
#pt-br .payment-providers {height:150px; background: url("https://files.vjpromo.com/bannerflow/lp-core/pp/payment_br.svg") center center no-repeat;}
#ja-jp .payment-providers {height:150px; background: url("/marketing/img/ic-payment/payment_jp.svg") center center no-repeat;}
  body { font-size: 90%; }

}

/* .col-sm < 768px*/
@media only screen and (max-width: 767px) {


}


/* Tablet Portrait size to standard 960 (devices and browsers) 768px*/
 @media only screen and (min-width: 768px) and (max-width: 959px) {

}

/* All Mobile Sizes (devices and browser) 480px */
@media only screen and (max-width: 767px) {
      #form-container { width:280px; margin: 20px auto;  }
}

/* Logo Fix */
@media only screen and (max-height: 750px) {
  #strip-container .logo { height: 100px !important; margin-bottom: 20px; }
}

/* .col- < 576px*/
@media only screen and (max-width: 575px) {
  .payment-providers { margin: 0; }
}

@media only screen and (max-height: 550px) {
  #strip-container .logo { height: 80px !important; margin-bottom: 20px; }
}


/* Mobile Landscape Size to Tablet Portrait - Nexus (devices and browsers)  480px*/
@media only screen and (min-width: 480px) and (max-width: 767px) {


}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) 320px */
@media only screen and (max-width: 479px) {
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { margin-bottom: 0 }
  .steps h2 { font-size: 1.5em; }
  .strip-container h1 { font-size: 2em }
  .strip-container h2 { font-size: 1em }
  section { padding-bottom: 0px; }
  #form { width: 100%; }
  #form p.title { font-size: 10px; }
  #strip-container .logo { margin-bottom: 5px; }
}

/* Devices
================================================== */

@media only screen and (device-width: 1024px) and (device-height: 768px) {
  #strip-container { height: 75vh;  }
}

@media only screen and (device-width: 800px) and (device-height: 1280px) {
  #strip-container { height: 50vh;  }
}

@media only screen and (device-width: 414px) and (device-height: 736px) {
  #strip-container { height: 75vh;  }
}

@media only screen and (device-width: 411px) and (device-height: 731px) {
  #strip-container { height: 75vh;  }
}

@media only screen and (device-width: 375px) and (device-height: 812px) {
  #strip-container { height: 70vh;  }
}

@media only screen and (device-width: 375px) and (device-height: 667px) {
  #strip-container { height: 72vh;  }
}

@media only screen and (device-width: 360px) and (device-height: 640px) {
  #strip-container { height: 70vh;  }
}

@media only screen and (device-width: 320px) and (device-height: 568px) {
  #strip-container { height: 75vh;  }
}

@media only screen and (device-width: 320px) and (device-height: 480px) {
  #strip-container { height: 80vh;  }
}
