$HEADER_BG: #212121;
$HEADER_SHADOW: transparent;
$SIDE_MENU_BG: #fff;
$MAIN_BG: #141414;
$SECONDARY_MAIN_BG: #141414;
$OVERLAY_BG: #000;

$GAME_PODS_BG: #141414;
$GAME_PODS_BORDER: radial-gradient(circle at top left, #743ad5, #d53a9d);

$FOOTER_CONTENT_BG: #212121;
$FOOTER_ITEM_BG: #212121;
$FOOTER_CONTENT_BORDER: #353535;

$SEPARATOR_COLOR: linear-gradient(90deg, #9800FF 0%, #FF005A 100%);

//=== MARGINS / PADDINGS / HEIGHT ===//
$NAV_HEIGHT: 54px;
$PADDING: 16px;
$MARGINS: 8px;

$HOT_ICON: url('../../assets/images/lobby-page/intercasino/hot-icon.png');
$ICON: url('../../assets/images/lobby-page/intercasino/icons.png');
