$HEADER_BG: #212121;
$HEADER_SHADOW: transparent;
$SIDE_MENU_BG: #fff;
$MAIN_BG: #fff;
$SECONDARY_MAIN_BG: #353535;
$OVERLAY_BG: #000;

$GAME_PODS_BG: #fff;

$FOOTER_CONTENT_BG: #212121;
$FOOTER_ITEM_BG: #212121;
$FOOTER_CONTENT_BORDER: #353535;

$SEPARATOR_COLOR: transparent;;

//=== MARGINS / PADDINGS / HEIGHT ===//
$NAV_HEIGHT: 54px;
$PADDING: 16px;
$MARGINS: 8px;
