.icon {
  background: $ICON;
  width: 24px;
  height: 24px;
  display: block;
  background-size: 720px;
}
.home-icon{
  background-position: -258px -42px;
}
.close-icon{
  background-position: -78px -42px;
}
