/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 280px) {
  #g-nav-bar-main > div {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  #games .row:first-child{
    flex-wrap: nowrap;
      > div{
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  #g-footer-logo{
    .row{
      flex-wrap: wrap;
      flex-direction: row;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  #g-footer-logo{
    .row > div:first-child{
      -ms-flex: 0 0 20%;
      flex: 0 0 20%;
      max-width: 20%;
    }
    .row > div:first-child + div{
      -ms-flex: 0 0 80%;
      flex: 0 0 80%;
      max-width: 80%;
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
