//==== NAVIGATION HEADER MENU ===//
@mixin headerMenuMixin{
  background: $HEADER_BG;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  padding: 0 10px;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px 0px $HEADER_SHADOW;
  // transition: all .3s ease;
  a{
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
  }

  #header-home{
    display: flex;
    align-items: center;
  }

  #header-button button{
    float: right;
  }
}

//==== GAME TILES ====//
@mixin gameTiles{
  padding: 8px;
  min-width: 180px;
  min-height: 150px;
  text-align: center;
  display: flex;
  flex-basis: 0;
  position: relative;

  a {
    width: 100%;

    > div {
      // PADDING WILL NOT WORK PROPERLY HERE DUE TO background-clip //
      border: solid 3px transparent;
      background-image: linear-gradient($GAME_PODS_BG, $GAME_PODS_BG), $GAME_PODS_BORDER;
      background-origin: border-box;
      background-clip: content-box, border-box;
      width: 100%;
      height: 100%;
      border-radius: 9px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
