.vjlp8_wrapper {
  /* STYLE FOR VJLP4v2 */
  /* Custom, iPhone Retina */
  /* Iphone 5 / Small devices */
  /* Extra Small Devices, Phones */
  /* Small Devices, Tablets */
  /* Medium Devices, Desktops */
  /* Large Devices, Wide Screens */
}
.vjlp8_wrapper .version1 button {
  max-width: 280px;
}
.vjlp8_wrapper .version2 button {
  max-width: 555px;
}
.vjlp8_wrapper .version2 button a {
  font-family: "MainFont-Bold", sans-serif;
  font-weight: 600;
}
.vjlp8_wrapper .vjlp8-main {
  background: #009FE3;
}
.vjlp8_wrapper .logo {
  max-width: 80px;
  display: block;
  margin: 70px auto 25px auto;
}
.vjlp8_wrapper .material-icons {
  font-family: "Material Icons";
  font-style: normal;
}
.vjlp8_wrapper .highlight {
  color: #FEE63D;
}
.vjlp8_wrapper h1 {
  color: #FEE63D;
}
.vjlp8_wrapper h2 {
  font-family: "MainFont-DemiBold", sans-serif;
}
.vjlp8_wrapper h3 {
  color: #FEE63D;
  font-size: 16px;
}
.vjlp8_wrapper small a:hover,
.vjlp8_wrapper ul li a:hover {
  color: #fee63d;
}
.vjlp8_wrapper a {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px dashed #fee63d;
}
.vjlp8_wrapper ul {
  margin: 0;
}
.vjlp8_wrapper p, .vjlp8_wrapper li {
  color: #fff;
  font-size: 16px;
}
.vjlp8_wrapper button {
  background: #FEE63D;
  border: none;
  border-radius: 100px;
  padding: 10px;
  width: 100%;
  margin: auto;
  display: block;
  font-size: 16px;
  color: #704B1F;
}
.vjlp8_wrapper button:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.6);
}
.vjlp8_wrapper #login {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  text-align: center;
}
.vjlp8_wrapper #login a {
  border: none;
  color: #fff;
}
.vjlp8_wrapper #login i {
  font-size: 32px;
  display: block;
  font-style: normal;
}
.vjlp8_wrapper #login span {
  color: #fff;
  font-size: 16px;
}
.vjlp8_wrapper #hero {
  text-align: center;
}
.vjlp8_wrapper #hero .row > div {
  position: relative;
}
.vjlp8_wrapper #hero small {
  color: #fff;
  font-size: calc(11px);
}
.vjlp8_wrapper #hero .banner {
  min-height: 375px;
}
.vjlp8_wrapper #hero .banner img {
  display: block;
  margin: auto;
  width: 100%;
}
.vjlp8_wrapper #hero .banner img:first-child {
  max-width: 430px;
}
.vjlp8_wrapper #hero .banner img:first-child + img {
  max-width: 350px;
}
.vjlp8_wrapper #hero #banner-terms {
  text-align: center;
}
.vjlp8_wrapper #payment img {
  width: 100%;
}
.vjlp8_wrapper #details {
  background: linear-gradient(180deg, #004fb8 0%, #00afff 50%);
  text-align: center;
}
.vjlp8_wrapper #details button {
  margin: 20px auto;
  font-size: calc(21px);
}
.vjlp8_wrapper #details img {
  display: block;
  margin: auto;
  max-width: 896px;
  width: 100%;
}
.vjlp8_wrapper .separator {
  border-bottom: 3px solid #0093D4;
}
@media only screen and (min-width: 320px) {
.vjlp8_wrapper .desktop {
    display: none;
}
.vjlp8_wrapper .mobile {
    display: block;
}
.vjlp8_wrapper .version1 #hero button {
    max-width: 280px;
}
.vjlp8_wrapper .version2 #hero button {
    max-width: 85%;
}
.vjlp8_wrapper section,
.vjlp8_wrapper footer {
    padding: 20px 0;
}
.vjlp8_wrapper h1 {
    font-size: calc(24px - 3px);
    margin-top: 55px;
}
.vjlp8_wrapper h2 {
    color: #fff;
    font-size: calc(32px - 4px);
}
.vjlp8_wrapper #hero {
    background: var(--bg-image-m) no-repeat center;
    background-size: cover;
    padding: 0;
}
.vjlp8_wrapper #hero .row {
    min-height: 770px;
}
.vjlp8_wrapper #hero #banner-terms {
    margin: 50px auto 45px auto;
}
.vjlp8_wrapper #hero #banner-terms button {
    margin-bottom: 0;
}
}
@media (max-height: 667px) and (min-width: 320px) {
.vjlp8_wrapper #hero .row {
    min-height: 600px;
}
}
@media only screen and (min-width: 768px) {
.vjlp8_wrapper .version2 #hero button {
    max-width: 555px;
}
.vjlp8_wrapper .desktop {
    display: block;
}
.vjlp8_wrapper .mobile {
    display: none;
}
.vjlp8_wrapper #hero {
    background: var(--bg-image) no-repeat center;
    background-size: cover;
}
.vjlp8_wrapper #hero .row {
    min-height: 815px;
}
}
@media only screen and (min-width: 992px) {
.vjlp8_wrapper h1 {
    font-size: 24px;
}
.vjlp8_wrapper h2 {
    font-size: 32px;
}
.vjlp8_wrapper section,
.vjlp8_wrapper footer {
    padding: 40px 0;
}
.vjlp8_wrapper #hero #banner-terms {
    margin: 100px auto 45px auto;
}
.vjlp8_wrapper #hero #banner-terms button {
    margin-bottom: 50px;
}
}
