.seo-main{
  overflow: hidden;
}
@at-root body{
  padding: 0;
  margin: 0;
}
@at-root body.noScroll{
    overflow: hidden;
}
#overlay{
  @include overlayMixins;
}
.separator-top{
  :after{
    background: #0082BA;
    display: block;
    content: '';
    position: absolute;
    top: -$PADDING;
    left: 0;
    width: 100%;
    height: .5px;
  }
}
.separator-bottom{
  :before{
    background: #0082BA;
    display: block;
    content: '';
    position: absolute;
    bottom: -$PADDING;
    left: 0;
    width: 100%;
    height: .5px;
  }
}
.icon-wrapper{
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.negate-gutter{
  margin-left: -$MARGINS;
  margin-right: -$MARGINS
}
.container,
.container-grid{
  max-width: 768px;
}


//=== SIDE MENU ===//
#menu-slide{
  @include menuSlideMixin;
  p{
    margin: 0;
  }
  button{
    width: 100%;
  }

  #menu-slide-header{
    display: flex;
    background: $HEADER_BG;
    > * {
      flex-grow: 1;
    }
  }
}


//==== NAVIGATION HEADER MENU ===//
#header-menu.nav-slide-up{
  top: -54px;
}
#header-menu.nav-slide-down{
  top: 0;
}
#header-menu.nav-slide-up{
  @at-root html body .seo-main .page-slide{
    padding-top: 0;
  }
}
#header-menu {
  @include headerMenuMixin;
  > * {
    flex-grow: 1;
  }

  .logo {
    max-width: 80px;
    margin: 0 auto;
    display: block;
  }

  #header-button > button {
    margin: 8px 0;
  }
}

.menu-gamburger{
  min-height: $NAV_HEIGHT;
  > * {
    display: inline-block;
    vertical-align: middle;
  }
  p{
    margin: 0;
  }
  span{
    background: #fff;
    border-radius: 5px;
    width: 24px;
    height: 4px;
    margin: 4px 0;
    display: block;
    transform-origin:0 0;
  }
}


//==== MAIN CONTENT ==//
.page-slide{
  transform: translate3d(320px,0,0);
}
main{
  position: relative;
  transition: all .3s ease;
  min-height: 100vh;
  height: 100%;
  background: $MAIN_BG;
  padding-top: $NAV_HEIGHT;
  padding-bottom: 50px;
}

#games{
  padding: $PADDING;
  text-align: center;

  .container-grid{
    img{
      display: block;
      margin: auto;
    }
  }
}

#game-tiles{
  padding: $PADDING;

  .dice{
    background-image: url('../../assets/images/seo/dice-bg.png');
  }
  .trophy,
  .loyalty{
    background-image: url('../../assets/images/seo/trophy-bg.png');
  }
  .card{
    background-image: url('../../assets/images/seo/card-bg.png');
  }

  .pods{
    @include gamePods;
    background-size: 120px;
    background-position: center;
    background-repeat: no-repeat;
  }
}

#footer-links{
  text-align: center;
  background: #0093D4;
  padding: $PADDING 0;

  img{
    display: block;
    margin: 30px auto;
    max-width: 180px;
  }

  .footer-item{
    background: #0082BA;
    margin: $MARGINS 0;
    padding: calc(#{$PADDING} / 2);

    a{
      text-decoration: none;
      border: none;
      color: inherit;

      img{
        max-width: 25px;
      }

      > * {
        display: inline-block;
        vertical-align: middle;
        margin: 0 5px;
      }
    }
  }
}

#seo-contents{
  background: #0093D4;
  padding: $PADDING;
}
#footer-icon-wrapper .row > div{
  padding: 0;
}
#footer-icon-wrapper{
  background: #0093D4;
  padding: $PADDING;

  img{
    width: 100%;
    margin: 8px 2px;
    display: inline-block;
    vertical-align: middle;
  }

  #footer-payment-provider{
    img{
      width: auto;
      max-height: 23px;
    }
  }
  #footer-providers{
    img{
      max-width: 20px;
    }
  }

  #footer-logo{
    img{
      max-width: 50px;
    }
    span{
      color: #84d6f8;
      font-size: 10px;
    }
  }


  p{
    margin: 0;
  }
  .footer-icons-wrapper{
    border-radius: 8px 8px 0 0;
    border: solid 2px #0082BA;
  }
  .container > div{
    padding: $PADDING;
  }
  .container > div:first-child + div{
    border-top: solid 2px #0082BA;
    border-bottom: solid 2px #0082BA;
  }
}

#footer-login-register.footer-slide-down{
  bottom: -54px;
}
#footer-login-register.footer-slide-up{
  bottom: 0;
}
#footer-login-register.footer-slide-down{
  @at-root html body .seo-main .page-slide{
    padding-bottom: 0;
  }
}

#footer-login-register{
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 0;
  transition: all .3s ease;

  > button{
    flex-grow: 1;
    border-radius: 0;
    height: 50px;
  }
}

.btn{
  background: transparent;
  border: none;
  outline: 0;
  color: #fff;
  font-size: 20px;
}
