/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  #games{
    .container-grid > .row{
      grid-template-columns: auto auto;
    }
  }
  #footer-logo{
    .row{
      flex-wrap: wrap;
      flex-direction: row;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  #games{
    .container-grid > .row{
      grid-template-columns: auto auto auto;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  #games{
    .container-grid > .row{
      grid-template-columns: auto auto auto auto;
    }
  }
  #footer-logo{
    .row > div:first-child{
      -ms-flex: 0 0 20%;
      flex: 0 0 20%;
      max-width: 20%;
    }
    .row > div:first-child + div{
      -ms-flex: 0 0 80%;
      flex: 0 0 80%;
      max-width: 80%;
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  #games{
    .container-grid > .row{
      grid-template-columns: auto auto auto auto auto auto;
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
