@mixin overlayMixins{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: $OVERLAY_BG;
  opacity: .7;
  transition: all .3s ease;
}

//==== SIDE MENU ===//
@mixin menuSlideMixin{
  position: fixed;
  top: 0;
  left: 0;
  background: $SIDE_MENU_BG;
  width: 320px;
  height: 100%;
  color: #fff;
  box-sizing: border-box;

  > div {
    padding: $PADDING;
  }
}

//==== NAVIGATION HEADER MENU ===//
@mixin headerMenuMixin{
  background: $HEADER_BG;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  padding: 0 10px;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px 0px rgba(0,121,173,.5);
  transition: all .3s ease;

  #header-button button{
    float: right;
  }
}

//==== GAME PODS ====//
@mixin gamePods{
  background-color: $GAME_PODS_BG;
  padding: 8px;
  border-radius: 9px;
  max-width: 180px;
  min-height: 142px;
  margin: $MARGINS;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  img{
    display: block;
    max-width: 40px;
    margin: auto;
  }
}
