$HEADER_BG: linear-gradient(to bottom,#009ce4 0%,#0094d5 100%);
$SIDE_MENU_BG: #0082BA;
$MAIN_BG: #009ee7;
$OVERLAY_BG: #005F88;

$GAME_PODS_BG: #0093D4;

//=== MARGINS / PADDINGS / HEIGHT ===//
$NAV_HEIGHT: 54px;
$PADDING: 16px;
$MARGINS: 8px;
