.overlay{
  @include overlay;
}
.switch{
  @include checkbox-switch;
}

@at-root .verajohn-theme{
    background-image: url('../assets/images/games/verajohnbg.jpg');
    background-color: $MAIN_CONTENT_BG;
}

.main-content{
  @include main-content;
  border-top: 1px solid #75cbf0;
}

#list-games{
  @include game-list;
  .game{
    display: inline-block;
    > div{
      margin: $GAME_LIST_MARGIN;
    }
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                      supported by Chrome, Edge, Opera and Firefox */
}

#sub-content{
  @include sub-content;
  padding: 40px;
}

.no-available-games{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  h4{
    font-size: 30px;
    color: #f7f2bf;
  }
}

#pagination-wrapper{
  .pagination-text{
    color: #ffea00;
    font-size: 20px;
    position: relative;

    &:before{
      content: '';
      display: block;
      background: #0093d4;
      height: 2px;
      width: 200px;
      position: absolute;
      left: 17%;
      transform: translate(0, -50%);
      top: 50%;
    }
    &:after{
      content: '';
      display: block;
      background: #0093d4;
      height: 2px;
      width: 200px;
      position: absolute;
      right: 17%;
      transform: translate(0, -50%);
      top: 50%;
    }
  }
  .load-more{
    font-size: 15px;
    border-bottom: 2px dotted #85ceef;
  }
}

// Buttons
button{
  border: none;
  outline: 0;
  min-width: 90px;
  padding: 8px;
  border-radius: 5px;
}
.btn-primary{
  @include button-primary;
}
.btn-warning{
  @include button-warning;
}

.find{
  position: relative;
  padding-left: 35px;

  &:before{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);
    background-image: url(https://cdn.plaingaming.net/files/repository/105/1/10003/all/all/image/visible-on-load.png?qo78mr&601b&6012);
    background-repeat: no-repeat;
    background-position: -84px -180px;
    height: 16px;
    width: 16px;
    content: '';
  }
}

.highlight{
  color: $HIGHLIGHT;
}

//FORM
input{
  @include input;
}

#filter-bar{
  display: flex;
  align-items: center;
  position: relative;

  p{
    margin: 0;
  }

  > div{
    padding: 0 10px;
  }

  #description{
    flex-grow: 2;
    text-align: left;
  }
  #search{
    > * {
      display: inline-block;
      margin: 0 5px;
    }
  }
}
