// .core-wrapper {
//   @import 'layoutGrid';
//   @import 'globalMarketing/footer';
//   @import 'globalMarketing/navigation';
// }
.layout-css {
  @import 'layoutGridV2';
  @import 'globalMarketing/footer';
  @import 'globalMarketing/navigation';
}
