$BODY_BG:  #fff;

$HERO_TITLE_COLOR: #EF6351;
$STEPS_TITLE_COLOR: #EF6351;
$STEPS_NUM_COLOR: #EC008B;
$STEPS_DESC_COLOR: #fff;
$H3_COLOR: #FEE63D;
$TEXT_COLOR: #fff;

$FONT_FAMILY: 'NotoSansJP-Regular', sans-serif;
$HERO_TITLE_SIZE: 32px;
$TEXT_SIZE: 16px;
$HERO_TEXT_COLOR: #b8a48e;

$LOGIN_I_COLOR: #EF6351;
$LOGIN_SPAN_COLOR: #C3986C;