.intercasino{
  .gambling-therapy {
    -webkit-filter: grayscale(100%);
    -webkit-filter: grayscale(1);
    filter: grayscale(100%);
  }
}

footer{
  #footer-icon{
    text-align: center;

    img{
      width: 70px;
    }

    > a{
      display: inline-block;
      min-width: 70px;
      vertical-align: middle;
      border: none;
      margin: 0 8px;
    }
  }

  .second-footer{
     padding: 25px 30px;
  }

  p{
    text-align: center;
  }
}
