@media only screen and (min-width:768px){
  .n-hero{
    font-size: 52px;
  }
  .n-display-1{
    font-size: 47px;
  }
  .n-display-2{
    font-size: 37px;
  }
  .n-display-3{
    font-size: 26px;
  }
  .n-header-1{
    font-size: 24px;
  }
  .n-header-2{
    font-size: 21px;
  }
  .n-header-3{
    font-size: 18px;
  }
  .n-header-4{
    font-size: 16px;
  }
  .n-header-5{
    font-size: 13px;
  }
  .n-header-6{
    font-size: 12px;
  }
  .n-paragraph,
  .n-paragraph-1{
    font-size: 16px;
  }
  .n-paragraph-2{
    font-size: 14px;
  }
  .n-paragraph-3{
    font-size: 11px;
  }
}
@media only screen and (min-width:1024px){
  .n-hero{
    font-size: 60px;
  }
  .n-display-1{
    font-size: 54px;
  }
  .n-display-2{
    font-size: 44px;
  }
  .n-display-3{
    font-size: 36px;
  }
  .n-header-1{
    font-size: 26px;
  }
  .n-header-2{
    font-size: 22px;
  }
  .n-header-3{
    font-size: 20px;
  }
  .n-header-4{
    font-size: 18px;
  }
  .n-header-5{
    font-size: 16px;
  }
  .n-header-6{
    font-size: 12px;
  }
  .n-paragraph,
  .n-paragraph-1{
    font-size: 15px;
  }
  .n-paragraph-2{
    font-size: 14px;
  }
  .n-paragraph-3{
    font-size: 11px;
  }
}
