/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  .desktop{
    display: none;
  }
  .mobile{
    display: block;
  }
  section,
  footer{
      padding: 20px 10px;
  }
  #hero{
    background: var(--bg-image-m) no-repeat center;
    background-size: var(--mobile-width-banner);
    padding: 0 10px;

    .row{
      height: 100%;
      min-height: calc(100vh - 160px);
      // min-height: 400px;
    }

    #hero-text-wrapper{
      text-align: center;
      display: flex;
      align-items: center;
      padding: 20px 0;

      > div{
        width: 100%;
      }
    }
  }

  #steps{
    background: #EC008B;

    .container{
      display: block;
      text-align: center;

      > div{
        display: inline-block;
        vertical-align: top;
        width: 31%;
        overflow: hidden;

        .num{
          width: 50px;
          height: 50px;
          align-items: center;
          display: flex;
          justify-content: center;
          border-radius: 50%;
          -moz-border-radius: 50%;
          font-size: 40px;
          font-weight: 700;
          margin: auto;
          font-family: 'MainFont-DemiBold';
        }

        h3{
          color: $STEPS_TITLE_COLOR;
        }

        p{
          text-align: center;
        }

      }
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 576px) {
  #hero{
    background: var(--bg-image) no-repeat center;
    background-size: var(--mobile-width-banner);

    // .container{
    //   min-height: 500px;
    // }
  }
  #steps{
    .container{
      > div {
        .num{
          width: 80px;
          height: 80px;
        }
      }
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .desktop{
    display: block;
  }
  .mobile{
    display: none;
  }
  #hero{
    #hero-text-wrapper{
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  section,
  footer{
    padding: 30px 0;
  }
  #hero{
    background-size: var(--desktop-width-banner);
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  #hero{
    #hero-text-wrapper{
      -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
    }
  }
  #steps{
    .container{
      > div {
        margin-top: 0;

        > * {
          float: left;
          text-align: left;
        }

        h3{
          font-size: 32px;
          margin: 0;
          font-weight: 400;
        }

        .num + div{
          margin-left: 20px;
          max-width: 200px;
          p{
            text-align: left;
          }
        }

        .num{
          width: 100px;
          height: 100px;
          font-size: 80px;
        }
      }
    }
  }
}
