$BODY_BG: #009FE3;
$BTN_BG: #FEE63D;

$HERO_TITLE_COLOR: #fff;
$TEXT_HIGHLIGHT: #ffd966;
$STEPS_TITLE_COLOR: #FEE63D;
$STEPS_NUM_COLOR: #EC008B;
$STEPS_DESC_COLOR: #fff;
$H3_COLOR: #FEE63D;
$TEXT_COLOR: #fff;
$BTN_COLOR: #704B1F;

$HERO_TITLE_SIZE: 32px;
$TEXT_SIZE: 16px;
$HIGHLIGHT: #ffd966;

//Version2
$HERO_TITLE_COLOR2: #ec008a;
$TEXT_HIGHLIGHT2: #fff;

//Version3
$HERO_TITLE_SIZE3: 48px;
