body{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    margin: auto;
    position: relative;
}
.container > div{
    flex-grow: 1;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
}

button,
a{
  cursor: pointer;
  outline: 0;
}


/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    .column-2,
    .column-3,
    .column-4{
        flex-wrap: wrap;
        flex-direction: column;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 576px) {
    .container{
        max-width: 540px;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .container{
        max-width: 720px;
    }
    .column-2{
        flex-wrap: nowrap;
        flex-direction: row;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .container{
        max-width: 960px;
    }

    .column-2 > div{
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .column-3,
    .column-4{
        flex-wrap: nowrap;
        flex-direction: row;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .column-3 > div{
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .column-4 > div{
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .container{
        max-width: 1140px;
    }
}
