/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  /*--FONT SIZE--*/
  h2 {
    font-size: $SUB_TITLE_SIZE;
    text-align: center;
  }
  p, li{
    font-size: $TEXT_SIZE;
    text-align: justify;
  }
  button{
    font-size: $BTN_SIZE;
    color: $BTN_COLOR;
  }
  section, footer{
    padding: 25px 30px;
  }
  #header{
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
  }
  #header .container{
    justify-content: flex-end;
  }
  #header .logo{
    position: absolute;
    left: 15px;
    top: -8px;
    img{
      max-width: 75px;
    }
  }
  #header .nav-links {
    margin: 15px 0;
    flex-grow: 0;
    button:first-child{
      display: none;
    }
    > button{
      margin: 0 5px;
    }
  }
   section, footer {
    padding: 10px;
  }
  #hero {
    background: var(--bg-image-m) no-repeat center;
    background-size: 100%;
    padding: 0;
    p, li {
      line-height: 0;
      margin-top: 7px;
    }
    .container {
      flex-wrap: nowrap;
      flex-direction: row;
      .strip > div {
        margin-top: 110px;
      }
    }
    #login-btn {
      border-bottom: none;
      position: absolute; top: 10px; right: 15px; z-index: 999999;
    }
    button{
      display: block;
      margin: 0 auto;
      background: #FEE63D;
      border-radius: 100px;
      animation-iteration-count: infinite;
    }
    .small-terms {
      font-size: 11px;
      text-align: center;
      margin: 2.5rem 0;
    }
    .strip {
      background: linear-gradient(to bottom, rgba(0,159,227,0.5) 0%,rgba(236,0,139,0.5) 100%);
      text-align: center;
      color: #fff;
      position: relative;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      min-height: 600px;
      img {
        height: 150px !important;
        margin-top: 50px;
      }
    }
    #strip-container[data-v-835fbe4a] {
      background: var(--bg-image-m) no-repeat 50%;
      background-size: cover;
      margin-top: 62.5px;
    }
    .login i {
      width: 100%;
      text-align: center;
      font-size: 2em;
    }
    .material-icons {
      color: #fff;
      font-family: 'Material Icons';
      font-weight: normal;
      font-style: normal;
      font-size: 24px;
      line-height: 1;
      letter-spacing: normal;
      text-transform: none;
      display: inline-block;
      white-space: nowrap;
      word-wrap: normal;
      direction: ltr;
      -webkit-font-feature-settings: 'liga';
      -webkit-font-smoothing: antialiased;
    }
  }
  #steps{
    background: #EC008B;
    .container{
      display: block;
      text-align: center;
      > div{
        display: inline-block;
        vertical-align: top;
        width: 31%;
        overflow: hidden;
        .num{
          width: 50px;
          height: 50px;
          align-items: center;
          display: flex;
          justify-content: center;
          border-radius: 50%;
          -moz-border-radius: 50%;
          color: #EC008B;
          font-size: 40px;
          font-weight: 700;
          margin: auto;
          font-family: 'MainFont-DemiBold';
        }
        h3{
          color: $SUB_TITLE_COLOR;
        }
        p{
          text-align: center;
        }
      }
    }
  }

  #section1 h2{
    font-size: 46px;
  }
  #section2 h2{
      text-align: left;
  }
  #section3{
    .container{
      background: url('https://files.vjpromo.com/bannerflow/lp-core/pp/payment_jp.svg') center center no-repeat;
      min-height: 150px;
    }
  }
  footer{
    #footer-icon{
      text-align: center;
      > a{
        display: inline-block;
        min-width: 70px;
        vertical-align: middle;
        border: none;
        margin: 0 8px;
      }
    }
    .second-footer{
      padding: 25px 30px;
    }
    p{
      text-align: center;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 576px) {
   #header .nav-links {
     button:first-child{
       display: inline-block;
     }
   }
   #hero {
    background: var(--bg-image) no-repeat center right;
    background-size: cover;
     .strip {
       min-height: 700px;
     }
     .container {
      max-width: inherit;
    }
   }
   #steps{
     .container{
       > div {
         .num{
           width: 80px;
           height: 80px;
         }
       }
     }
   }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
   #header .logo{
       top: -30px;
       img{
         max-width: 128px;
       }
   }

   #hero{
     background: var(--bg-image) no-repeat right center;
     background-size: cover;
   }

   #hero .banner + div{
       justify-content: flex-end;
       display: flex;

       button{
         margin: 0;
       }
   }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    section, footer {
      padding: 20px;
    } 
    #hero {
      .strip {
       -ms-flex: 0 0 33.333333%;
       flex: 0 0 33.333333%;
       max-width: 33.333333%;
      }
    }
     #section3{
       .container{
         background: url(https://files.vjpromo.com/bannerflow/lp-core/pp/payment_large_jp.svg) center center no-repeat;
       }
     }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
   .nav-links{
       -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
       -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
       box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
       border-radius: 5px;
       padding: 8px;

       button{
           min-width: 150px;
           padding: 6px 50px;
       }
   }
   #hero {
     .container {
       max-width: 1140px;
     }
   }
   #steps{
     .container{

       > div {
         margin-top: 0;

         > * {
           float: left;
           text-align: left;
         }

         h3{
           font-size: 32px;
           margin: 0;
           font-weight: 400;
         }

         .num + div{
           margin-left: 20px;
         }

         .num{
           width: 100px;
           height: 100px;
           font-size: 80px;
         }
       }
     }
   }

   #section1 h2{
     font-size: 60px;
   }
}
