$HEADER_BG: #009FE3;
$BODY_BG: #009FE3;

$SUB_TITLE_COLOR: #FEE63D;
$SUB_TITLE_SIZE: 24px;
$TEXT_COLOR: #fff;
$TEXT_SIZE: 14px;

$BTN_SIZE: 17px;
$BTN_COLOR: #704B1F;
$BTN_WARNING: linear-gradient(to bottom,#ffc933 0%,#f7901d 100%);
$BTN_ERROR: linear-gradient(to bottom,#fb57cc,#de1681);

$HERO_BG: #0589c1;
