.version2{
  @media (min-height: 750px) and (min-width: 320px) {
    .logo {
      max-width: 180px;
      width: 100%;
    }
  }
}


/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  .version2{
    #hero{
      &:before{
        background-color: rgba(0,0,0,0.7);
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        content: '';
      }
    }
    #hero{
      overflow: hidden;
      position: relative;
    }
  }

  .version3{
    h1{
      font-size: calc(#{$HERO_TITLE_SIZE3} - 16px);
    }
    #hero-text-wrapper{
      background: none;

      button {
        background: #fff;
        font-size: 30px;
        font-weight: 700;
        width: 280px;
        border-radius: 100px;
        border: none;
        padding: 10px 20px;
        color: #704B1F;

        a{
          border: none;
        }
      }
    }
  }

  .desktop{
    display: none;
  }
  .mobile{
    display: block;
  }
  section,
  footer{
      padding: 20px 10px;
  }
  #hero{
    background: var(--bg-image-m) no-repeat center;
    background-size: cover;
    padding: 0;

    .container{
      height: calc(100vh - 160px);
      min-height: 400px;
    }

    #hero-text-wrapper{
      text-align: center;
      display: flex;
      align-items: center;
      padding: 20px 0;

      > div{
        width: 100%;
      }
    }
  }

  #steps{
    background: #EC008B;

    .container{
      display: block;
      text-align: center;

      > div{
        display: inline-block;
        vertical-align: top;
        width: 31%;
        overflow: hidden;

        .num{
          width: 50px;
          height: 50px;
          align-items: center;
          display: flex;
          justify-content: center;
          border-radius: 50%;
          -moz-border-radius: 50%;
          font-size: 40px;
          font-weight: 700;
          margin: auto;
          font-family: 'MainFont-DemiBold';
        }

        h3{
          color: $STEPS_TITLE_COLOR;
        }

        p{
          text-align: center;
        }

      }
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 576px) {
  .version2{
    #hero{
      &:before{
        display: none;
      }
    }
  }
  #hero{
    background: var(--bg-image) no-repeat center;
    background-size: cover;

    .container{
      min-height: 500px;
    }
  }
  #steps{
    .container{
      > div {
        .num{
          width: 80px;
          height: 80px;
        }
      }
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .version3{
    #hero-text-wrapper{
      background: -webkit-linear-gradient(top, rgba(0,159,227,0.8) 0%,rgba(236,0,139,0.8) 100%);
      background: linear-gradient(to bottom, rgba(0,159,227,0.8) 0%,rgba(236,0,139,0.8) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc009fe3', endColorstr='#ccec008b',GradientType=0);

      button{
        background: $BTN_BG;
        font-size: $TEXT_SIZE;

        a, a:hover{
          color: $BTN_COLOR;
        }

        &:hover{
          box-shadow: 0 2px 2px 0 rgba(0,0,0,0.60);
        }
      }
    }
  }
  .desktop{
    display: block;
  }
  .mobile{
    display: none;
  }
  #hero{
    #hero-text-wrapper{
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  section,
  footer{
    padding: 30px 0;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .version3{
    h1{
      font-size: $HERO_TITLE_SIZE3;
    }
  }
  #hero{
    .container{
      height: 100vh;
    }
    #hero-text-wrapper{
      -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
    }
  }
  #steps{
    .container{
      > div {
        margin-top: 0;

        > * {
          float: left;
          text-align: left;
        }

        h3{
          font-size: 32px;
          margin: 0;
          font-weight: 400;
        }

        .num + div{
          margin-left: 20px;
          max-width: 200px;
          p{
            text-align: left;
          }
        }

        .num{
          width: 100px;
          height: 100px;
          font-size: 80px;
        }
      }
    }
  }
}
