$BODY_BG: #009FE3;
$BTN_BG: #FEE63D;

$HERO_TITLE_COLOR: #fff;
$TEXT_HIGHLIGHT: #ffd966;
$STEPS_TITLE_COLOR: #FEE63D;
$STEPS_NUM_COLOR: #EC008B;
$STEPS_DESC_COLOR: #fff;
$H3_COLOR: #FEE63D;
$TEXT_COLOR: #fff;
$BTN_COLOR: #704B1F;

$HERO_TITLE_SIZE: 32px;
$TEXT_SIZE: 16px;

//Version2
$HERO_TITLE_COLOR2: #ec008a;
$TEXT_HIGHLIGHT2: #fff;

//Version3
$HERO_TITLE_SIZE3: 48px;

$PRIMARY_FLAT: #009FE3;
$SECONDARY_FLAT: #EC008B;
$TERTIARY_FLAT: #FEE63D;

$PRIMARY_GRADIENT: linear-gradient(0deg, rgba(0,147,212,1) 0%, rgba(0,159,227,1) 100%);
$SECONDARY_GRADIENT: linear-gradient(to bottom,#fb57cc,#de1681);
$SECONDARY_GRADIENT_HOVER: linear-gradient(180deg,#ff65e5,#fa1e93);
$TERTIARY_GRADIENT: linear-gradient(to bottom,#ffc933 0%,#f7901d 100%);
$TERTIARY_GRADIENT_HOVER: linear-gradient(180deg,#ffe238,#ffa92d);
