/*--BACKGROUNDS COLORS / IMAGES--*/
#terms {
  display: block;
}
#intro h3 {
  text-align: center;
  margin: 20px 0;
  font-size: 1.5em
}

.payment-providers {
  border-bottom: 3px solid #0093D4;
  border-top: 3px solid #0093D4;
  width: 100%;
  height: 150px;
  background-size: contain !important;
  float: left;
  clear: both;
  margin: 10px 0;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.bf-separator {
  border-top: 3px solid #0093D4;
  margin: 40px 0;
}



.vjlp3v2-main {
  background: $BODY_BG;
}

h3 {
  color: $TITLE_COLOR
}

ul, dt {
  color: $TEXT_COLOR;
}

#header {
  background: $HEADER_BG;
  border-bottom: 3px solid #0082ba;

  .nav-links {
    a {
      border: none;
    }
  }
}

p,
li {
  color: $TEXT_COLOR;
  line-height: 21px;
}
a {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px dashed #fee63d;
}

button {
  border: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
}
button.warning {
  background: $BTN_WARNING;

  &:hover {
    background: linear-gradient(180deg, #ffe238, #ffa92d);
  }
}
button.error {
  background: $BTN_ERROR;

  &:hover {
    background: linear-gradient(180deg, #ff65e5, #fa1e93);
  }
}

.separator {
  border-bottom: 3px solid #0093d4;
  margin-top: 50px;
}

.container.svg {
  display: block;

  > div {
    display: inline-block;
  }
}

#hero {
  background: linear-gradient(rgba(0,0,0,.15), rgba(0,0,0,.15)), var(--bg-banner) 50% no-repeat;
  background-size: cover;

  h1 {
    font-family: 'SubFont', sans-serif;
    color: $TITLE_COLOR;
    font-size: 1.75em;
    text-shadow: 0 2px 2px rgba(0,0,0,0.3);
    margin: 0px 0 0 0;
    line-height: 1.2;
  }

  h2 {
    color: $SUB_TITLE_COLOR;
    font-family: 'SubFont', sans-serif;
    text-shadow: 0 2px 2px rgba(0,0,0,0.3);
    margin: -5px 0 0 0;
  }

  .container:first-child {
    margin-top: 22px;
  }

  button {
    min-width: 200px;
    a {
      text-decoration: none;
      border-bottom: none
    }
  }
  .center {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .hidden {
    display: none;
  }

  .lower-right {
    position: absolute;
    right: 0px;
    bottom: 0px;
    display: none;
  }

  .upper-left {
    position: absolute;
    display: none;
  }
}

#game-slider {
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);

  .container {
    display: block;
  }

  .slider {
    margin: 10px 0;

    img {
      margin-left: auto;
      margin-right: auto;
    }

    img:hover {
      transform: scale(.9);
      transition: transform .3s;
    }
  }

  a {
    text-decoration: none;
    border-bottom: none
  }
}
