$BODY_BG: rgba(0, 0, 0, 0.85);

$SEPARATION_BORDER_COLOR: #6f42c1;

$SUBTITLE_COLOR: #ceb3ff;
$TEXT_COLOR: #fff;
$BONUS_TEXT_COLOR: #000;
$BONUS_TEXTLINK_COLOR: #1da1f2;
$BONUS_TEXTBOLD_COLOR: #ff2896;
$TEXT_SIZE: 17px;
