.overlay{
  @include overlay;
}
.switch{
  @include checkbox-switch;
}


@at-root .intercasino-theme{
    background: #e5e5e5;
}

.main-content{
  @include main-content;
}

#list-games{
  @include game-list;
  .game{
    display: inline-block;
    > div{
      margin: $GAME_LIST_MARGIN;
    }
  }
}

#sub-content{
  @include sub-content;
  padding: 40px;
}

.no-available-games{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  h4{
    font-size: 30px;
    color: #cecece;
  }
}

#pagination-wrapper{
  .pagination-text{
    color: #000;
    font-size: 20px;
    position: relative;

    &:before{
      content: '';
      display: block;
      background: #000;
      height: 2px;
      width: 200px;
      position: absolute;
      left: 17%;
      transform: translate(0, -50%);
      top: 50%;
    }
    &:after{
      content: '';
      display: block;
      background: #000;
      height: 2px;
      width: 200px;
      position: absolute;
      right: 17%;
      transform: translate(0, -50%);
      top: 50%;
    }
  }
  .load-more{
    font-size: 15px;
    color: #d2ac48;
  }
}

// Buttons
button{
  border: none;
  outline: 0;
  min-width: 90px;
  padding: 8px;
}
.btn-primary{
  @include button-primary;
}
.btn-warning{
  @include button-warning;
}

.highlight{
  color: $HIGHLIGHT;
}

//FORM
input{
  @include input;
}

#filter-bar{
  display: flex;
  align-items: center;
  position: relative;

  p{
    margin: 0;
  }

  > div{
    padding: 0 10px;
  }

  #description{
    flex-grow: 2;
    text-align: left;
  }
  #search{
    > * {
      display: inline-block;
      margin: 0 5px;
      color: #212121;
    }
  }
}
