// Background
$NAVIGATION_BG: #333;
$MAIN_CONTENT_BG: #fff;
$ARTICLE_BG: #212122;
$OVERLAY_BG: rgba(33, 33, 33, .95);
$CHECKBOX_BG_CURRENT_BORDER: #d2ac48;
$CHECBOXK_BORDER: #333;

// Buttons
$BTN_PRIMARY_BG: #1C2120;
$BTN_PRIMARY_COLOR: #fff;
$BTN_PRIMARY_HOVER_BG: #424242;
$BTN_WARNING_BG: #FFC423;
$BTN_WARNING_COLOR: #212121;
$BTN_WARNING_HOVER_BG: linear-gradient(180deg,#ffe238,#ffa92d);

// Fonts
$HIGHLIGHT: #d2ac48;
$PRIMARY_TEXT_COLOR: #000;
$GAME_TITLE_COLOR: #000;
$GAME_FONT_SIZE: 11px;

$ARTICLE_SUBTITLE_COLOR: #e5e5e5;
$ARTICLE_TEXT_COLOR: #e5e5e5;
$H3_COLOR: #D3AC48;

// Others
$BORER: solid 1px #d3ac48;
$WARNING: #FFC423;
$GAME_LIST_MARGIN: 28px;
