// === COMPONENTS ===//
@mixin game-list{
  color: $GAME_TITLE_COLOR;
  font-size: $GAME_FONT_SIZE;
  text-align: center;
}
@mixin overlay{
  backdrop-filter: blur(15px);
  position: absolute;
  top: 50px;
  left: 0;
  background: $OVERLAY_BG;
  border-radius: 10px;
  padding: 30px;
  width: 100%;
  min-height: 60vh;
  height: 100%;
  text-align: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;

  &:before{
    position: absolute;
    left: 31px;
    top: -10px;
    content: "";
    display: block;
    border-width: 0 10px 10px;
    border-style: solid;
    border-color: $OVERLAY_BG transparent;
  }

  h3{
    color: #fff;
    margin-top: 0;
  }
}
