#filter-bar-mobile{
  background: darken($MAIN_CONTENT_BG, 5%);
  padding: 10px 0;

  > .container{
    justify-content: center;

    > *{
      margin: 0 5px;
      width: 50%;
    }
  }
}
#filter{
  form{
    width: 100%;
  }
  .select-wrapper{
    position: relative;
    margin-bottom: 20px;

    &:before{
      background-position: -38px -74px;
      width: 32px;
      height: 32px;
      content: "";
      position: absolute;
      z-index: 1;
      right: 4px;
      top: 50%;
      transform: translate(0, -50%);
      pointer-events: none;
      background-image: url(https://cdn.plaingaming.net/files/repository/103/3/10010/all/all/image/global-spritesheet-2x.png?qrunsd&607e&607e);
      background-size: 720px;
      background-position: -38px -74px;
      border-left: #d3d3d3 1px solid;
    }
  }
  select{
    padding: 10px 40px 10px 10px;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-radius: 0;
    cursor: pointer;
    outline: 0;
    width: 100%;
    border-radius: 20px;
    padding: 12px 20px;
  }
}




.overlay{
  @include overlay;
}
.switch{
  @include checkbox-switch;
}


@at-root .intercasino-theme{
    background: #e5e5e5;
}

.main-content{
  @include main-content;
}

#list-games{
  @include game-list;
  .game{
    a{
      text-decoration: none;
      color: inherit;
    }
  }
}

#game-filter{
  @include game-filter;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                      supported by Chrome, Edge, Opera and Firefox */
}

#sub-content{
  @include sub-content;
  padding: 40px;
}

.no-available-games{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  h4{
    font-size: 30px;
    color: #cecece;
  }
}

#pagination-wrapper{
  .pagination-text{
    color: #000;
    font-size: 20px;
    position: relative;

    &:before{
      content: '';
      display: block;
      background: #000;
      height: 2px;
      width: 200px;
      position: absolute;
      left: 17%;
      transform: translate(0, -50%);
      top: 50%;
    }
    &:after{
      content: '';
      display: block;
      background: #000;
      height: 2px;
      width: 200px;
      position: absolute;
      right: 17%;
      transform: translate(0, -50%);
      top: 50%;
    }
  }
  .load-more{
    font-size: 15px;
    color: #d2ac48;
  }
}

// Buttons
button{
  border: none;
  outline: 0;
  min-width: 90px;
  padding: 8px;
}
.btn-primary{
  @include button-primary;

  &.active{
    background: $BTN_PRIMARY_BG_ACTIVE;
  }
}
.btn-warning{
  @include button-warning;
}

.find{
  position: relative;
  padding-left: 35px;

  &:before{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);
    background-image: url(https://cdn.plaingaming.net/files/repository/105/1/10003/all/all/image/visible-on-load.png?qo78mr&601b&6012);
    background-repeat: no-repeat;
    background-position: -84px -180px;
    height: 16px;
    width: 16px;
    content: '';
  }
}

.highlight{
  color: $HIGHLIGHT;
}

//FORM
input{
  @include input;
}

hr {
  border-bottom: solid 2px #d2ac48;
  border-top: 0;
  margin: 20px 0;
}

.slideFadeDown{
  animation-name: slideFadeDown;
  animation-duration: .5s;
}

@keyframes slideFadeDown {
  from {top: -30px; opacity: .1;}
  to {top: 0; opacity: 1;}
}
