.seo-main{
  overflow: hidden;
}
@at-root body{
  padding: 0;
  margin: 0;
}
@at-root body.noScroll{
    overflow: hidden;
}
#overlay{
  @include overlayMixins;
}
.separator{
  border-bottom: solid 1px #0082BA;
}
.icon-wrapper{
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.negate-gutter{
  margin-left: -$MARGINS;
  margin-right: -$MARGINS
}



//=== FONTS ===//
h1{
  font-size: $TITLE_SIZE;
  color: $TITLE_TEXT_COLOR;
  font-weight: 500;
  font-family: 'Lucida Grande,sans-serif';
  text-align: center;
}
h2{
  font-size: $SUBTITLE_SIZE;
  color: $SUBTITLE_COLOR;
  font-weight: 500;
  font-family: 'Lucida Grande,sans-serif';
  text-align: center;
}
p{
  font-size: $TEXT_SIZE;
  color: $TEXT_COLOR;
  font-weight: 500;
  font-family: 'Lucida Grande,sans-serif';
}
a{
  color: $LINK_COLOR;
  text-decoration: none;
  border-bottom: 2px dotted #85CEEF;
}
.winning{
  font-size: $WINNING_TEXT_SIZE;
  color: $WINNING_TEXT_COLOR;
}



//=== SIDE MENU ===//
#menu-slide{
  @include menuSlideMixin;
  p{
    margin: 0;
  }
  button{
    width: 100%;
  }

  #menu-slide-header{
    display: flex;
    background: $HEADER_BG;
    > * {
      flex-grow: 1;
    }
  }
}


//==== NAVIGATION HEADER MENU ===//
#header-menu.nav-slide-up{
  top: -54px;
}
#header-menu.nav-slide-down{
  top: 0;
}
#header-menu.nav-slide-up{
  @at-root html body .seo-main .page-slide{
    padding-top: 0;
  }
}
#header-menu {
  @include headerMenuMixin;

  p {
    font-size: 15px;
  }
  > * {
    flex-grow: 1;
  }

  .logo {
    max-width: 80px;
    margin: 0 auto;
    display: block;
  }

  #header-button > button {
    margin: 8px 0;
  }
}

.menu-gamburger{
  min-height: $NAV_HEIGHT;
  > * {
    display: inline-block;
    vertical-align: middle;
  }
  p{
    margin: 0;
  }
  span{
    background: #fff;
    border-radius: 5px;
    width: 24px;
    height: 4px;
    margin: 4px 0;
    display: block;
    transform-origin:0 0;
  }
}


//==== MAIN CONTENT ==//
.page-slide{
  transform: translate3d(320px,0,0);
}
main{
  position: relative;
  transition: all .3s ease;
  min-height: 100vh;
  height: 100%;
  background: $MAIN_BG;
  padding-top: $NAV_HEIGHT;
  padding-bottom: 50px;
}

#games{
  padding: $PADDING;
  text-align: center;

  .container-grid{
    img{
      display: block;
      margin: auto;
    }
    p{
      color: #fff;
      font-size: 13px;
    }
  }
}

#game-tiles{
  padding: $PADDING;

  .loyalty{
    margin-top: 20px;
  }
  .pods{
    @include gamePods;
  }
}

#footer-links{
  text-align: center;
  background: #0093D4;
  padding: $PADDING 0;

  img{
    display: block;
    margin: 30px auto;
    max-width: 180px;
  }

  .footer-item{
    color: #fff;
    background: #0082BA;
    margin: $MARGINS 0;
    padding: calc(#{$PADDING} / 2);

    a{
      text-decoration: none;
      color: inherit;
    }
  }
}

#seo-contents{
  background: #0093D4;
  padding: $PADDING;
}

#footer-login-register.footer-slide-down{
  bottom: -54px;
}
#footer-login-register.footer-slide-up{
  bottom: 0;
}
#footer-login-register.footer-slide-down{
  @at-root html body .seo-main .page-slide{
    padding-bottom: 0;
  }
}

#footer-login-register{
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 0;
  transition: all .3s ease;

  > button{
    flex-grow: 1;
    border-radius: 0;
    box-shadow: inset 0 1px 0 hsl(0deg 0% 100% / 50%), inset 0 -3px 3px rgb(0 0 0 / 20%);
    padding: $PADDING;
    height: 50px;
    line-height: 20px;
  }
}

.btn{
  background: transparent;
  border: none;
  outline: 0;
  color: #fff;
  font-size: 20px;
}
.primary{
  background: $BTN_PRIMARY_BG;
  height: 38px;
  line-height: 38px;
  border: none;
  outline: 0;
  border-radius: 10px;
  min-width: 150px;
  color: #fff;
  float: right;
}
.secondary{
  background: $BTN_SECONDARY_BG;
  height: 38px;
  line-height: 38px;
  border: none;
  outline: 0;
  border-radius: 10px;
  min-width: 150px;
  color: #fff;
}
