@mixin main-content{
  background: $MAIN_CONTENT_BG;
  padding: 20px;
  box-sizing: border-box;
  min-height: calc(100vh - 250px);
}

@mixin game-list{
  color: $GAME_TITLE_COLOR;
  font-size: $GAME_FONT_SIZE;
  text-align: center;
}

@mixin sub-content{
  background: $ARTICLE_BG;
  // border-top: $BORER;
  // border-bottom: $BORER;

  h2{
    color: $ARTICLE_SUBTITLE_COLOR;
    font-size: 20px;
  }
  h3{
    color: $H3_COLOR;
    font-size: 17px;
  }
  p{
    color: $ARTICLE_TEXT_COLOR;
    font-size: 13px;
  }
}

@mixin input{
  border-radius: 5px;
  font-size: 13px;
  border: 1px solid #2a87b0;
  outline: 0;
  padding: 5px;
  box-shadow: inset 0 3px 3px rgba(10,50,70,.6);
}

@mixin overlay{
  position: absolute;
  top: 50px;
  left: 0;
  background: $OVERLAY_BG;
  border-radius: 10px;
  padding: 30px;
  width: 100%;
  min-height: 60vh;
  height: 100%;
  text-align: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;

  &:before{
    position: absolute;
    left: 31px;
    top: -10px;
    content: "";
    display: block;
    border-width: 0 10px 10px;
    border-style: solid;
    border-color: $OVERLAY_BG transparent;
  }

  h3{
    margin-top: 0;
  }
}

@mixin checkbox-switch{
    display: inline-block;

    input {
      opacity: 0;
      height: 0;
      width: 0;
      margin: 0;
    }

    .slider {
      -webkit-transition: .1s;
      transition: .1s;
      border: 2px solid $CHECBOXK_BORDER;
      border-radius: 20px;
      padding: 10px 20px;
      cursor: pointer;
      float: left;
      margin: 5px;
    }

    input:checked + .slider {
      background-color: $CHECKBOX_BG_CURRENT;
    }
}

@mixin button-primary {
  background: $BTN_PRIMARY_BG;
  color: $BTN_PRIMARY_COLOR;

  &:hover{
    background: $BTN_PRIMARY_HOVER_BG;
  }
}

@mixin button-warning {
  background: $BTN_WARNING_BG;
  color: $BTN_WARNING_COLOR;

  &:hover{
    background: $BTN_WARNING_HOVER_BG;
  }
}
