// Backgrounds
$NAVIGATION_BG: #0093d4;
$MAIN_CONTENT_BG: #009fe3;
$ARTICLE_BG: #009fe3;
$OVERLAY_BG: rgba(0, 81, 115, .95);
$CHECKBOX_BG_CURRENT: #2196F3;
$CHECBOXK_BORDER: #009fe3;

// Buttons
$BTN_PRIMARY_BG: linear-gradient(to bottom,#fb57cc,#de1681);
$BTN_PRIMARY_COLOR: #fff;
$BTN_PRIMARY_HOVER_BG: linear-gradient(180deg,#ff65e5,#fa1e93);
$BTN_WARNING_BG: linear-gradient(to bottom,#ffc933 0%,#f7901d 100%);
$BTN_WARNING_COLOR: #fff;
$BTN_WARNING_HOVER_BG: linear-gradient(180deg,#ffe238,#ffa92d);

// Fonts
$HIGHLIGHT: #ffea00;
$PRIMARY_TEXT_COLOR: #000;
$GAME_TITLE_COLOR: #fff;
$GAME_FONT_SIZE: 11px;

$ARTICLE_SUBTITLE_COLOR: #ffea00;
$ARTICLE_TEXT_COLOR: #fff;
$H3_COLOR: #ffea00;

// Others
$WARNING: #FFC423;
$GAME_LIST_MARGIN: 28px;
