$PRIMARY_BTN_BG: #009FE3;
$PRIMARY_BTN_COLOR: #fff;

$SECOND_BTN_BG: #EC008B;
$SECOND_BTN_COLOR: #fff;

$THIRD_BTN_BG: #FEE63D;
$THIRD_BTN_COLOR: #fff;

$PRIMARY_BTN_GRADIENT: linear-gradient(0deg, rgba(0,147,212,1) 0%, rgba(0,159,227,1) 100%);
$PRIMARY_BTN_GRADIENT_HOVER: linear-gradient(180deg,#ff65e5,#fa1e93);
$PRIMARY_BTN_GRADIENT_COLOR: #fff;

$SECOND_BTN_GRADIENT: linear-gradient(to bottom,#fb57cc,#de1681);
$SECOND_BTN_GRADIENT_COLOR: #fff;

$THIRD_BTN_GRADIENT: linear-gradient(to bottom,#ffc933 0%,#f7901d 100%);
$THIRD_BTN_GRADIENT_HOVER: linear-gradient(to bottom,#ffc933 0%,#f7901d 100%);
$THIRD_BTN_GRADIENT_COLOR: #fff;
