$BODY_BG: #009FE3;
$BTN_BG: #FEE63D;

$TITLE_COLOR: #FEE63D;
$SUBTITLE_COLOR: #fff;
$H3_COLOR: #FEE63D;
$TEXT_COLOR: #fff;
$HIGHLIGHT: #FEE63D;
$BTN_COLOR: #704B1F;

$TITLE_SIZE: 24px;
$SUBTITLE_SIZE: 32px;
$TEXT_SIZE: 16px;

$PRIMARY_FLAT: #009FE3;
$SECONDARY_FLAT: #EC008B;
$TERTIARY_FLAT: #FEE63D;

$PRIMARY_ANIMATED: linear-gradient(0deg, rgba(0,147,212,1) 0%, rgba(0,159,227,1) 100%);
$SECONDARY_ANIMATED: linear-gradient(to bottom,#fb57cc,#de1681);
$SECONDARY_ANIMATED_HOVER: linear-gradient(180deg,#ff65e5,#fa1e93);
$TERTIARY_ANIMATED: linear-gradient(to bottom,#ffc933 0%,#f7901d 100%);
$TERTIARY_ANIMATED_HOVER: linear-gradient(180deg,#ffe238,#ffa92d);
