$BODY_BG: #009FE3;
$BTN_BG: #FEE63D;

$TITLE_COLOR: #FEE63D;
$SUBTITLE_COLOR: #fff;
$H3_COLOR: #FEE63D;
$TEXT_COLOR: #fff;
$HIGHLIGHT: #FEE63D;
$BTN_COLOR: #704B1F;

$TITLE_SIZE: 24px;
$SUBTITLE_SIZE: 32px;
$TEXT_SIZE: 16px;
