/* { border: #FF0004 solid 1px; } */

/* Language ID's
https://docs.microsoft.com/en-us/previous-versions/commerce-server/ee825488(v=cs.20)
#en-us, #en-en (ROTW)
#en-gb (UK)
#da-gb, #da-dk (Denmark)
#fi-gb, #fi-fi, #sv-fi (Finland)
#de-gb, #de-de (Germany)
#nb-gb, #nb-no, #nn-gb, #nn-no (Norway)
#sv-gb, #sv-sv (Sweden)
#pt-gb, #pt-br (Brazil)
#ja-gb, #ja-ja, #ja-jp (Japan)
#es-gb, #es-pe, #es-cl, #es-es (Spain)
*/

/* Main */
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
html { scroll-behavior: smooth; }
* { margin: 0; padding: 0; }
body { font-size:100%; }
body, h1, h2, h3, h4, h5, h6, section { font-family: 'MainFont-Medium', sans-serif; color: #ffffff; }
h1 {font-family: 'MainFont-DemiBold', sans-serif; font-size:3em; text-align:center; text-transform: uppercase; letter-spacing: 0.3px;}
h2 {font-family: 'MainFont-DemiBold', sans-serif; font-size:1.75em; text-align:center;   }
h3 {font-family: 'MainFont-Bold', sans-serif;font-size:1em; text-align:center;  }
h4 {font-family: 'MainFont-Bold', sans-serif;font-size:2em; text-align:center; }
h5 {font-family: 'MainFont-Medium', sans-serif;font-size:1.75em; text-align:center; font-weight:300;  }
#strip h1 { font-size: 3.5em; }
#strip-container { height: 75vh; position: relative; }
.login { color: white; position: absolute; top:10px; right:15px; z-index: 999999;  }
a.login:visited, a.login:active, a.login:hover {border-bottom: none; color: white; text-decoration: none; }
.login i { width: 100%; text-align: center; font-size: 2em }
a.login {border-bottom: none;  text-decoration: none;}
.login .login-txt { margin-top: -5px  }
ul { padding: 0px 0px 0px 20px }
#terms-anchor { padding:0; }
.form-text { margin-top: 0 }

/* Form */
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
#mt-form { margin: 150px 0 0 0; }
.mt-form h2 { font-size: 1em }
input { padding: 8px; width: 100%; margin: 10px 0; }
.btn { font-weight:700; }

input[type=checkbox], input[type=radio] { margin-right:5px; }
#form { width: 320px; margin: 10px auto; }
#container .text #form .input-group input[type="text"],
#container .text #form .input-group input[type="password"] { background: #FFF; border: 1px solid #2a87b0; border-radius: 5px; width: 100%; box-shadow: inset 0 3px 3px rgba(10, 50, 70, 0.16); padding: 0 9px; height: 28px; }
#container .text #form .input-group { margin-top: 20px; clear: both; display: inline-block; width: 100%; }
#container .text #form #tc { float: left; }
.form-checkbox { width: 14px;height: 14px; float: left; }
form .title { padding-top: 4px; display: block; width: 90%; float: left; }
#form .error { margin-top: 8px; display: none; background-color: #e6195d; position: relative; line-height: 17px; color: #FFF; font-size: 11px; padding: 3px 10px; width: 100%; border-radius: 5px; box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3); }
#form .error::before {content: ''; position: absolute; left: 50%; top: -7px; margin-left: -7px; width: 0; height: 0; border-bottom: 7px solid #e6195d; border-left: 7px solid transparent; border-right: 7px solid transparent; }
#form .no-value { border-color: #e6195d!important; }
#form p.title { font-size: 13px; line-height: 1; width: 93%; margin-top: 9px; }
#submit-error { text-align: center !important; }

/* Footer */
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.icons { margin: 20px auto; display:inline-block; padding:20px; }
.icon { float: left; margin-left: 10px; }


.gt { width: 96px; height: 48px; background: url('https://files.vjpromo.com/bannerflow/lp-core/ico/icon_gt.svg') no-repeat center center; background-size: contain; border:none; }
.age { width: 48px; height: 48px; background: url('/marketing/img/footer/20+.svg') no-repeat center center; background-size: contain; border:none; }
.mga { width: 97px; height: 47px; background: url('https://files.vjpromo.com/bannerflow/lp-core/ico/icon_mga.svg') no-repeat center center; background-size: contain; border:none;  }
.curacao { -webkit-filter: grayscale(100%);
-webkit-filter: grayscale(1);
filter: grayscale(100%); width: 97px; height: 47px; background: url('/marketing/img/footer/CEG_logo.png') no-repeat center center; background-size: contain; border:none;  }

.gamcare, .gamstop, .bga, .ukgc { display:none; }
#en-gb .gamcare { width: 112px; height: 47px; background: url('https://files.vjpromo.com/bannerflow/lp-core/ico/icon_gamcare.svg') no-repeat center center; background-size: contain; border:none; }
#en-gb .gamstop { display:block; width: 108px; height: 47px; background: url('https://files.vjpromo.com/bannerflow/lp-core/ico/icon_gamstop.svg') no-repeat center center; background-size: contain; border:none; }
#en-gb .bga { display:block; width: 140px; height: 48px; background: url('https://files.vjpromo.com/bannerflow/lp-core/ico/icon_bga.svg') no-repeat center center; background-size: contain; border:none;  }
#en-gb .ukgc { display:block; width: 96px; height: 48px; background: url('https://files.vjpromo.com/bannerflow/lp-core/ico/icon_ukgc.svg') no-repeat center center; background-size: contain; border:none;  }

/* Terms */
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.small-terms { font-size: 11px; text-align:center; margin:10px 0; }
#terms ul { margin: 0px !important;}

/* Payment Providers */
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.payment-providers { width:100%; height:100px; background: url("https://files.vjpromo.com/bannerflow/lp-core/pp/payment_large_en.svg") center center no-repeat; background-size: contain !important; float:left; clear:both; margin: 10px 0; }
#en-gb .payment-providers {height:150px; background: url("https://files.vjpromo.com/bannerflow/lp-core/pp/payment_large_uk.svg") center center no-repeat;}
#fi-fi .payment-providers {height:150px; background: url("https://files.vjpromo.com/bannerflow/lp-core/pp/payment_large_fi.svg") center center no-repeat;}
#de-de .payment-providers {height:150px; background: url("https://files.vjpromo.com/bannerflow/lp-core/pp/payment_large_de.svg") center center no-repeat;}
#nb-no .payment-providers {height:150px; background: url("https://files.vjpromo.com/bannerflow/lp-core/pp/payment_large_no.svg") center center no-repeat;}
#sv-se .payment-providers {height:150px; background: url("https://files.vjpromo.com/bannerflow/lp-core/pp/payment_large_se.svg") center center no-repeat;}
#pt-br .payment-providers {height:150px; background: url("https://files.vjpromo.com/bannerflow/lp-core/pp/payment_large_br.svg") center center no-repeat;}
#ja-jp .payment-providers {height:150px; background: url("https://files.vjpromo.com/bannerflow/lp-core/pp/payment_large_jp.svg") center center no-repeat;}
