.vjlp5_wrapper {
  /* STYLE FOR VJLP5 */
  /*--BACKGROUNDS COLORS / IMAGES--*/
  /* Custom, iPhone Retina */
  /* Iphone 5/SE */
  /* Extra Small Devices, Phones */
  /* Small Devices, Tablets */
  /* Medium Devices, Desktops */
  /* Large Devices, Wide Screens */
  /* Custom, iPhone Retina */
  /* Extra Small Devices, Phones */
  /* Small Devices, Tablets */
  /* Medium Devices, Desktops */
  /* Large Devices, Wide Screens */
}
.vjlp5_wrapper .vjlp5-main {
  background: #009FE3;
}
.vjlp5_wrapper #header {
  background: #009FE3;
  border-bottom: 3px solid #0082ba;
}
.vjlp5_wrapper #header .nav-links a {
  border: none;
}
.vjlp5_wrapper .small-text {
  font-size: 20px;
}
.vjlp5_wrapper .medium-text {
  font-size: 32px;
}
.vjlp5_wrapper .large-text {
  font-size: 48px;
}
.vjlp5_wrapper h1 {
  font-weight: 700;
  margin: 10px 0;
  font-family: "MainFont-Medium", sans-serif;
}
.vjlp5_wrapper h2 {
  color: #FEE63D;
}
.vjlp5_wrapper p, .vjlp5_wrapper li {
  color: #fff;
  line-height: 21px;
}
.vjlp5_wrapper a {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px dashed #FEE63D;
}
.vjlp5_wrapper .highlight {
  color: #ffd966;
}
.vjlp5_wrapper button {
  border: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
}
.vjlp5_wrapper button.warning {
  background: linear-gradient(to bottom, #ffc933 0%, #f7901d 100%);
}
.vjlp5_wrapper button.warning:hover {
  background: linear-gradient(180deg, #ffe238, #ffa92d);
}
.vjlp5_wrapper button.error {
  background: linear-gradient(to bottom, #fb57cc, #de1681);
}
.vjlp5_wrapper button.error:hover {
  background: linear-gradient(180deg, #ff65e5, #fa1e93);
}
.vjlp5_wrapper .separator {
  border-bottom: 3px solid #0093D4;
  margin-top: 50px;
}
.vjlp5_wrapper .container.svg {
  display: block;
}
.vjlp5_wrapper .container.svg > div {
  display: inline-block;
}
.vjlp5_wrapper #carousel {
  padding: 20px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}
.vjlp5_wrapper #carousel .container {
  display: block;
}
.vjlp5_wrapper .slide-content {
  outline: 0;
}
.vjlp5_wrapper .slide-content img {
  margin: auto;
}
.vjlp5_wrapper #hero {
  background-color: #0589c1;
}
.vjlp5_wrapper #hero .banner {
  position: relative;
  display: flex;
  margin: auto;
  max-width: 80%;
  height: 100%;
  padding: 70px 0;
  box-sizing: border-box;
}
.vjlp5_wrapper #hero .banner.left {
  justify-content: flex-start;
}
.vjlp5_wrapper #hero .banner.center {
  justify-content: center;
}
.vjlp5_wrapper #hero .banner.right {
  justify-content: flex-end;
}
.vjlp5_wrapper #hero #banner-button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
}
.vjlp5_wrapper #hero #banner-button a {
  border: none;
}
.vjlp5_wrapper #steps .container .num {
  background: #fff;
}
@media only screen and (min-width: 320px) {
.vjlp5_wrapper {
    /*--FONT SIZE--*/
}
.vjlp5_wrapper .desktop {
    display: none;
}
.vjlp5_wrapper .mobile {
    display: block;
}
.vjlp5_wrapper h2 {
    font-size: 24px;
    text-align: center;
}
.vjlp5_wrapper p, .vjlp5_wrapper li {
    font-size: 14px;
    text-align: justify;
}
.vjlp5_wrapper button {
    font-size: 17px;
    padding: 6px 12px;
    color: #fff;
}
.vjlp5_wrapper section,
.vjlp5_wrapper footer {
    padding: 5px 10px;
}
.vjlp5_wrapper #header {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}
.vjlp5_wrapper #header button.warning {
    display: none;
}
.vjlp5_wrapper #header .container {
    justify-content: flex-end;
}
.vjlp5_wrapper #header .logo {
    position: absolute;
    left: 0;
    top: -8px;
}
.vjlp5_wrapper #header .logo img {
    width: 75px;
    height: 75px;
}
.vjlp5_wrapper #header .nav-links {
    margin: 15px 0;
    flex-grow: 0;
}
.vjlp5_wrapper #header .nav-links > button {
    margin: 0 5px;
    font-size: 14px;
}
.vjlp5_wrapper #hero {
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), var(--bg-banner) 50% no-repeat;
    padding: 0;
}
.vjlp5_wrapper #hero .container {
    background: var(--bg-image-m) no-repeat center;
    min-height: 400px;
    background-size: var(--mobile-width-banner);
}
.vjlp5_wrapper #hero #banner-button {
    margin-bottom: 30px;
}
.vjlp5_wrapper #hero button {
    display: block;
    margin: 0 auto;
    min-width: 150px;
    padding: 6px 50px;
}
.vjlp5_wrapper #steps {
    background: #EC008B;
}
.vjlp5_wrapper #steps .container {
    display: block;
    text-align: center;
}
.vjlp5_wrapper #steps .container > div {
    display: inline-block;
    vertical-align: top;
    width: 31%;
    overflow: hidden;
    margin-top: -30px;
}
.vjlp5_wrapper #steps .container > div .num {
    width: 50px;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    -moz-border-radius: 50%;
    color: #EC008B;
    font-size: 40px;
    font-weight: 700;
    margin: auto;
    font-family: "MainFont-DemiBold";
}
.vjlp5_wrapper #steps .container > div h3 {
    color: #FEE63D;
}
.vjlp5_wrapper #steps .container > div p {
    text-align: center;
}
.vjlp5_wrapper #section1 h2 {
    font-size: 46px;
    line-height: 65px;
}
.vjlp5_wrapper #section2 h2 {
    text-align: left;
}
.vjlp5_wrapper #section3 .container {
    background: url("https://files.vjpromo.com/bannerflow/lp-core/pp/payment_jp.svg") center center no-repeat;
    min-height: 100px;
}
}
@media (max-height: 568px) and (max-width: 320px) {
.vjlp5_wrapper #hero .container {
    min-height: 350px;
}
}
@media only screen and (min-width: 576px) {
.vjlp5_wrapper #header .nav-links button:first-child {
    display: inline-block;
}
.vjlp5_wrapper #hero {
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), var(--bg-banner) 50%;
}
.vjlp5_wrapper #hero .container {
    background: var(--bg-image-m) no-repeat center;
    min-height: 650px;
    background-size: cover;
}
.vjlp5_wrapper #steps .container > div .num {
    width: 80px;
    height: 80px;
}
.vjlp5_wrapper #section3 .container {
    min-height: 200px;
}
}
@media only screen and (min-width: 768px) {
.vjlp5_wrapper .desktop {
    display: block;
}
.vjlp5_wrapper .mobile {
    display: none;
}
.vjlp5_wrapper #header .logo {
    top: -30px;
}
.vjlp5_wrapper #header .logo img {
    max-width: 128px;
    width: 100%;
    height: auto;
}
.vjlp5_wrapper #hero {
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), var(--bg-banner) center;
}
.vjlp5_wrapper #hero .container {
    background: var(--bg-image) no-repeat center;
    min-height: 320px;
    background-size: var(--desktop-width-banner);
}
}
@media only screen and (min-width: 992px) {
.vjlp5_wrapper #hero {
    background-size: cover;
}
.vjlp5_wrapper #section3 .container {
    background: url(https://files.vjpromo.com/bannerflow/lp-core/pp/payment_large_jp.svg) center center no-repeat;
}
}
@media only screen and (min-width: 1200px) {
.vjlp5_wrapper #header .nav-links {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 8px;
}
.vjlp5_wrapper #header .nav-links button {
    min-width: 150px;
}
.vjlp5_wrapper #header .nav-links button a {
    padding: 6px 50px;
    font-size: 17px;
}
.vjlp5_wrapper #hero {
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), var(--bg-banner) center;
}
.vjlp5_wrapper #hero .container {
    background: var(--bg-image) no-repeat center;
    background-size: contain;
}
.vjlp5_wrapper #hero .banner {
    max-width: 800px;
    margin: auto;
}
.vjlp5_wrapper #steps .container > div {
    margin-top: 0;
}
.vjlp5_wrapper #steps .container > div > * {
    float: left;
    text-align: left;
}
.vjlp5_wrapper #steps .container > div h3 {
    font-size: 32px;
    margin: 0;
    font-weight: 400;
}
.vjlp5_wrapper #steps .container > div .num + div {
    margin-left: 20px;
}
.vjlp5_wrapper #steps .container > div .num {
    width: 100px;
    height: 100px;
    font-size: 80px;
}
.vjlp5_wrapper #section1 h2 {
    font-size: 60px;
}
}
@media only screen and (min-width: 320px) {
.vjlp5_wrapper {
    /*==========  Variation 1  ==========*/
    /*==========  Variation 2  ==========*/
    /*==========  Variation 3  ==========*/
    /*==========  Variation 4 ==========*/
}
.vjlp5_wrapper .variation1 h1 {
    color: #fff;
    font-weight: 700;
}
.vjlp5_wrapper .variation2 h1 {
    color: #EC008B;
    font-weight: 700;
}
.vjlp5_wrapper .variation3 h1 {
    color: #fff;
    filter: drop-shadow(2px 2px 3px black);
    font-weight: 700;
}
.vjlp5_wrapper .variation3 h1 span {
    background: linear-gradient(#ffdd2c, #ffdf3b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(2px 2px 3px #ffd34d);
}
.vjlp5_wrapper .variation4 h1 {
    background: linear-gradient(#EC008B, #ffa0d8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(2px 2px 3px #86004f);
    font-weight: 700;
}
.vjlp5_wrapper .variation4 h1 span {
    background: linear-gradient(#ffdd2c, #ffdf3b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(2px 2px 3px #ffd34d);
}
}

.core-wrapper {
  /* Custom, iPhone Retina */
  /* Extra Small Devices, Phones */
  /* Small Devices, Tablets */
  /* Medium Devices, Desktops */
  /* Large Devices, Wide Screens */
  /*=== MAIN MENU ===*/
  /*=== HAMBURGER MENU ===*/
  /*--hamburger--*/
  /*--hamburger expand content--*/
  /*--Overlay--*/
  /*=======EXPANDED=======*/
  /*--show hamburger expand--*/
  /*--hamburger lines - expanded--*/
}
html {
  scroll-behavior: smooth;
}
.core-wrapper body {
  margin: 0;
  padding: 0;
}
.core-wrapper .container {
  display: flex;
  margin: auto;
  position: relative;
}
.core-wrapper .container > div {
  flex-grow: 1;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
}
.core-wrapper button,
.core-wrapper a {
  cursor: pointer;
  outline: 0;
}
@media only screen and (min-width: 320px) {
  .core-wrapper .column-2,
.core-wrapper .column-3,
.core-wrapper .column-4 {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media only screen and (min-width: 576px) {
  .core-wrapper .container {
    max-width: 540px;
  }
}
@media only screen and (min-width: 768px) {
  .core-wrapper .container {
    max-width: 720px;
  }
}
@media only screen and (min-width: 992px) {
  .core-wrapper .container {
    max-width: 960px;
  }
  .core-wrapper .column-2 > div {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media only screen and (min-width: 1200px) {
  .core-wrapper .column-3 > div {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .core-wrapper .column-4 > div {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .core-wrapper .container {
    max-width: 1140px;
  }
}
body.noScroll {
  overflow: hidden;
}
.core-wrapper #nav-desktop {
  background: #fff;
}
.core-wrapper #nav-desktop #switch {
  float: right;
}
.core-wrapper #nav-desktop #vj, .core-wrapper #nav-desktop #ic {
  background: #e4e4e4;
  color: #a9a9a9;
  border-radius: 3px;
  padding: 5px 10px;
  border: none;
  font-weight: 700;
}
.core-wrapper #nav-desktop #vj.active,
.core-wrapper #nav-desktop #vj:hover {
  background: linear-gradient(to bottom, #fb57cc, #de1681);
  color: #fff;
}
.core-wrapper #nav-desktop #ic.active,
.core-wrapper #nav-desktop #ic:hover {
  background: #FF6200;
  color: #fff;
}
.core-wrapper #nav-desktop .container {
  align-items: center;
}
.core-wrapper #nav-desktop .container img {
  max-width: 150px;
}
.core-wrapper #nav-desktop .container > div:first-child {
  flex: 0 0 15%;
  max-width: 15%;
}
.core-wrapper #nav-desktop .container > div:first-child + div {
  flex: 0 0 85%;
  max-width: 85%;
}
.core-wrapper #nav-desktop .container .nuxt-link-exact-active {
  color: #EC0090;
  border-bottom: solid 5px #EC0090;
}
.nav_wrapper {
  z-index: 1;
  position: relative;
}
.nav_wrapper #logo a {
  padding: 0;
}
.nav_wrapper nav a {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  margin: 0 5px;
  color: #243238;
  font-size: 11px;
  padding: 30px 10px;
  display: inline-block;
  text-transform: capitalize;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: solid 5px transparent;
}
.core-wrapper #nav-mobile {
  background: #fff;
  padding: 15px 15px 15px 0;
}
.core-wrapper #ham-menu {
  display: none;
}
.core-wrapper label[for=ham-menu] {
  display: block;
  position: relative;
  margin-left: 15px;
  z-index: 999;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #e33227;
  background: #d5261c;
}
.core-wrapper .hide-des {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.core-wrapper .hide-des span {
  background: #fff;
  width: 17px;
  height: 2px;
  margin: 2px 0;
  display: block;
  transition: all 0.4s ease;
  transform-origin: 0 0;
}
.core-wrapper .ham-menu {
  width: 60vw;
  height: 100%;
  position: fixed;
  top: 0;
  visibility: hidden;
  transform: translate(-110%);
  z-index: 998;
  background: #fff;
  transition: 0.5s;
  padding-top: 80px;
}
.core-wrapper .ham-menu.vertical {
  width: 100%;
  height: auto;
  transform: translateY(-110%);
}
.core-wrapper .ham-menu ul {
  list-style: none;
  padding: 0;
  background: #e6e6e6;
  padding: 20px;
  margin: 0;
}
.core-wrapper .ham-menu ul li {
  line-height: 45px;
}
.core-wrapper .ham-overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 997;
  opacity: 0;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
}
.core-wrapper #ham-menu:checked ~ div.ham-overlay {
  opacity: 0.8;
  visibility: visible;
}
.core-wrapper #ham-menu:checked ~ div.ham-menu {
  transform: translate(0);
  visibility: visible;
  overflow: scroll;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.core-wrapper #ham-menu:checked ~ div.ham-menu a {
  padding: 5px;
}
.core-wrapper #ham-menu:checked + label span {
  background: #fff;
}
.core-wrapper #ham-menu:checked + label span:nth-child(2) {
  Transform: scaleX(0);
}
.core-wrapper #ham-menu:checked + label span:nth-child(1) {
  transform: rotate(45deg) translate(3px, -2px);
}
.core-wrapper #ham-menu:checked + label span:nth-child(3) {
  transform: rotate(-45deg) translate(2px, 2px);
}
.core-wrapper .intercasino img {
  filter: grayscale(100%);
}
.core-wrapper .ceg-logo {
  filter: grayscale(100%);
}
.core-wrapper footer #footer-icon {
  text-align: center;
}
.core-wrapper footer #footer-icon img {
  width: 70px;
}
.core-wrapper footer #footer-icon > a {
  display: inline-block;
  min-width: 70px;
  vertical-align: middle;
  border: none;
  margin: 0 8px;
}
.core-wrapper footer .second-footer {
  padding: 25px 30px;
}
.core-wrapper footer p {
  text-align: center;
}
