$NAV_BG: #005083;
$NAV_TEXT: #fff;


$HERO_BG: #009fe3;

$BTN-WARNING: linear-gradient(0deg, #f8961f 0%, rgba(248, 150, 31, 0) 100%),#ffc431;
$BTN-WARNING-HOVER: linear-gradient(0deg, #ffc431 0%, rgba(248, 150, 31, 0) 100%),#f8961f;
$BTN-ERROR: linear-gradient(0deg, #c81577 0%, rgba(200, 21, 119, 0) 100%),#f954c9;
$BTN-ERROR-HOVER: linear-gradient(0deg, #f954c9 0%, rgba(248, 150, 31, 0) 100%),#c81577;
$BTN-PRIMARY: linear-gradient(360deg,rgba(4, 71, 112, 0.63) 0%,rgba(15, 126, 192, 0) 100%),#036db0;
$BTN-PRIMARY-HOVER: linear-gradient(0deg, #036db0 0%, rgba(248, 150, 31, 0) 100%),rgba(4, 71, 112, 0.63) 0%;


$TITLE_COLOR: #ffea00;
$TITLE_SIZE: 40px;
$SUB_TEXT_SIZE: 24px;
$SUB_TEXT_COLOR: #fff;
$H3_SIZE: 26px;
$TEXT: #fff;
$TEXT_SIZE: 14px;
$BTN_TEXT_COLOR: #fff;
$BTN_SIZE: 17px;
