/* #Media Queries
================================================== */

/* Height
================================================== */


@media only screen and (min-height: 1400px) and (max-height: 2000px) {
  #strip-container { height: 50vh }
}

@media only screen and (max-height: 750px) {

}

/* Width
================================================== */

/* Retina Images */
@media all and (-webkit-min-device-pixel-ratio: 2) {


}

@media only screen and (max-width: 1482px) {

}


/* Widescreens (devices and browsers) 1200px*/
@media only screen and (min-width : 1224px) {


}

/* Specific Widescreen Only (devices and browsers) 1280px*/
@media only screen and (max-width: 1500px) {

}

/* .col-lg < 1200px*/
@media only screen and (max-width: 1199px) {  

}

/* Tablet Landscape + (devices and browsers - main 960) 1024px*/
@media only screen and (max-width: 1024px) {

}


/* Smaller than standard 960 (devices and browsers) 959px*/
@media only screen and (max-width: 959px) {

}

/* .col-md < 992px*/
@media only screen and (max-width: 991px) {

#bf-banner-img-2 h1, #bf-banner-img-2 h2 { text-align: center }	
#bf-banner-img-2 { min-height: 320px; }

.payment-providers { width:100%; height:100px; background: url("https://files.vjpromo.com/bannerflow/lp-core/pp/payment_en.svg") center center no-repeat; background-size: contain; float:left; clear:both; margin: 10px 0; }
#en-gb .payment-providers {height:150px; background: url("https://files.vjpromo.com/bannerflow/lp-core/pp/payment_uk.svg") center center no-repeat;}
#fi-fi .payment-providers {height:150px; background: url("https://files.vjpromo.com/bannerflow/lp-core/pp/payment_fi.svg") center center no-repeat;}
#de-de .payment-providers {height:150px; background: url("https://files.vjpromo.com/bannerflow/lp-core/pp/payment_de.svg") center center no-repeat;}
#nb-no .payment-providers {height:150px; background: url("https://files.vjpromo.com/bannerflow/lp-core/pp/payment_no.svg") center center no-repeat;}
#sv-se .payment-providers {height:150px; background: url("https://files.vjpromo.com/bannerflow/lp-core/pp/payment_se.svg") center center no-repeat;}
#pt-br .payment-providers {height:150px; background: url("https://files.vjpromo.com/bannerflow/lp-core/pp/payment_br.svg") center center no-repeat;}
#ja-jp .payment-providers {height:150px; background: url("https://files.vjpromo.com/bannerflow/lp-core/pp/payment_jp.svg") center center no-repeat;}

}

/* .col-sm < 768px*/
@media only screen and (max-width: 767px) {
  #signup-btn { display: none; }
  .bf-btn-container { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
  .bf-btn-container .bf-button { padding: 6px 12px; min-width: auto; }
  .bf-logo { width:100px; height: 100px; top:-15px; }
   #bf-game-slider a div { height: 80px; }
   #bf-banner-img-2 h1 { font-size: 1.750em }	
   #bf-banner-img-2 h2 { font-size: 1.125em }
   #bf-banner-img-2 { min-height: 400px; }
}


/* Tablet Portrait size to standard 960 (devices and browsers) 768px*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
 
}


/* .col- < 576px*/
@media only screen and (max-width: 575px) {
  
}

@media only screen and (max-height: 550px) {
}


/* Mobile Landscape Size to Tablet Portrait - Nexus (devices and browsers)  480px*/
@media only screen and (min-width: 480px) and (max-width: 767px) {


}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) 320px */
@media only screen and (max-width: 479px) {

#bf-banner-img-2 { min-height: 350px; }

}

/* Devices
================================================== */

@media only screen and (device-width: 1024px) and (device-height: 768px) {
  #strip-container { height: 75vh;  }
}

@media only screen and (device-width: 800px) and (device-height: 1280px) {
  #strip-container { height: 50vh;  }
}

@media only screen and (device-width: 414px) and (device-height: 736px) {
  #strip-container { height: 75vh;  }
}

@media only screen and (device-width: 411px) and (device-height: 731px) {
  #strip-container { height: 75vh;  }
}

@media only screen and (device-width: 375px) and (device-height: 812px) {
  #strip-container { height: 70vh;  }
}

@media only screen and (device-width: 375px) and (device-height: 667px) {
  #strip-container { height: 72vh;  }
}

@media only screen and (device-width: 360px) and (device-height: 640px) {
  #strip-container { height: 70vh;  }
}

@media only screen and (device-width: 320px) and (device-height: 568px) {
  #strip-container { height: 75vh;  }
}

@media only screen and (device-width: 320px) and (device-height: 480px) {
  #strip-container { height: 80vh;  }
}