#searchInput { background:#212121; box-sizing:border-box; border-radius:50px; padding:10px 15px; border:2px solid #8404D9; color:#FFFFFF; }
#searchResults { border-collapse:collapse; width:100%; border:1px solid #141414; }
#searchResults th, #results td { text-align:left; padding:12px; }
#searchResults tr { border-bottom:1px solid #ddd;}
#searchResults tr:hover { color:#F20574; }
#searchResults tr.header { font-family:'MainFont-DemiBold', sans-serif !important; color:#F20574; }
.scrollable { min-height:300px; max-height:600px; margin:0 10px;overflow-y:scroll; border:solid 2px #8405D9; }
table{ border:solid 2px #8405D9; border-collapse:collapse; border-spacing:0; text-align:center; padding:5px; }
table th{ border:solid 1px #8405D9; padding:20px; text-align:left; }
table td{ border:solid 1px #8405D9; text-align:left; padding:10px; }

@media only screen and (max-width:767px){
 table{width:100%;-webkit-overflow-scrolling:auto;overflow-x:auto;display:block;}
} 