* {
  font-family: 'MainFont-Medium';
}
section,
footer{
  padding: 20px;
  background: $BG_MAIN;
}

a{
  color: $LINK_COLOR;

  &:hover{
    color: $LINK_COLOR_HOVER;
  }
}

p {
  color: $TEXT_COLOR;
}

button {
  background: $WARNING;
  border-radius: 100px;
  padding: 10px 40px;
  border: 0;
  color: $TEXT_COLOR;
  font-size: 1.5em;
  width: 280px;
  margin: 20px auto;
}

#hero{
  img{
    display: block;
    margin: auto;
    width: 100%;
    max-width: 510px;
  }
}

#detail{
  background: linear-gradient( 180deg, rgba(159, 15, 79, 1) 0%, rgba(79, 23, 117, 1) 28%, rgba(0, 0, 0, 1) 88% );
  text-align: center;
}

#testimonials{
  .container:first-child{
    margin: 20px auto;

    h3{
      color: #e10057;
    }
    .testi{
      position: relative;
      background: #fff;
      border-radius: 30px;
      color: black;
      padding: 20px;
      -webkit-box-shadow: 3px 3px 0px 0px rgba(255, 0, 72, 1);
      -moz-box-shadow: 3px 3px 0px 0px rgba(255, 0, 72, 1);
      box-shadow: 3px 3px 0px 0px rgba(255, 0, 72, 1);
    }
  }

  .container:first-child + div{
    margin: 20px auto;

    h3{
      color: #a184d6;
    }
    .testi{
      position: relative;
      background: #fff;
      border-radius: 30px;
      color: black;
      padding: 20px;
      -webkit-box-shadow: 5px 5px 0px 0px rgba(168, 138, 225, 1);
      -moz-box-shadow: 5px 5px 0px 0px rgba(168, 138, 225, 1);
      box-shadow: 5px 5px 0px 0px rgba(168, 138, 225, 1);
    }
  }
}

#golden-separation {
    background: radial-gradient( ellipse farthest-corner at right bottom, #fedb37 0%, #fdb931 8%, #9f7928 30%, #8a6e2f 40%, transparent 80% ), radial-gradient( ellipse farthest-corner at left top, #ffffff 0%, #ffffac 8%, #d1b464 25%, #5d4a1f 62.5%, #5d4a1f 100% );
    padding: 15px 0;
    img{
      display: block;
      margin: auto;
    }
}

#games{
  .game-first-section{
    img{
      max-width: 700px;
      width: 100%;
    }
  }
}

#loyalty {
  position: relative;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background: radial-gradient( ellipse farthest-corner at right bottom, #fedb37 0%, #fdb931 8%, #9f7928 30%, #8a6e2f 40%, transparent 80% ), radial-gradient( ellipse farthest-corner at left top, #ffffff 0%, #ffffac 8%, #d1b464 25%, #5d4a1f 62.5%, #5d4a1f 100% );
  }
}

#steps {
  background: linear-gradient( 90deg, rgba(131, 58, 180, 1) 0%, rgba(255, 0, 90, 1) 50%, rgba(252, 176, 69, 1) 100% );
  text-align: center;
  img {
    width: 100%;
    max-width: 364px;
    margin: auto;
  }
}

#pods img {
  width: 100%;
  max-width: 295px;
}

#payment {
  img {
    width: 100%;
  }
}

#terms{
  background: $BG_MAIN;
  border-top: solid 2px $BORDER_COLOR;
  border-bottom: solid 2px $BORDER_COLOR;

  h3{
    color: $H3_COLOR;
    text-transform: uppercase;
  }

  ul{
    li{
      color: #fff;
    }
  }
}

.material-icons {
  font-family: 'Material Icons';
  color: $TEXT_COLOR;
  font-style: normal;
  font-size: 30px;
}

.star {
  &:before {
    background: url('../assets/images/iclp2v2/319-bic-lan-jp-pro-beginnersguide-0620-queenprofile.png') no-repeat center right;
    content: "";
    display: block;
    height: 30px;
    width: 65px;
    margin: auto;
  }
}