/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  .desktop{
    display: none;
  }
  .mobile{
    display: block;
  }
  #hero {
    background: url('../assets/images/iclp2v2/319-bic-lan-jp-pro-beginnersguide-0620-bg_m.jpg') no-repeat top;
    background-size: cover;
    padding: 10px;
    .loginbtn {
      position: absolute;
      top: 10px;
      right: 10px;
      p {
        margin: 0;
      }
    }
    .container {
      > div {
        text-align: center;
        &:last-child div:first-child {
            margin-top: 200px;
        }
        img:first-child {
          max-width: 200px;
        }
        img:first-child + img {
          max-width: 288px;
        }
        img:first-child + img + img {
          max-width: 288px;
        }
      }
      > div {
        div:last-child {
          p {
            font-size: 14px;
            margin: 0;
            span {
              background-color: #ff0375;
            }
          }
          button + p {
            font-size: 11px;
          }
        }
      }
    }
  }

  #testimonials{
    p {
      font-size: 14px;
      color: #000;
    }
    .container{
      flex-wrap: wrap;
      flex-direction: row;

      .feature-img{
        margin-top: 20px;
        img{
          width: auto;
        }
      }
    }
    .container:first-child + div{
      flex-direction: column-reverse;
    }
    .container:first-child{
      .testi{
        &:after{
          content: "";
          position: absolute;
          bottom: 0;
          right: 50%;
          width: 0;
          height: 0;
          border: 1.031em solid transparent;
          border-top-color: #ffffff;
          border-bottom: 0;
          margin-left: -1.031em;
          margin-bottom: -1.031em;
        }
      }
    }
    .container:first-child + div{
      .testi{
        &:after{
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0;
          height: 0;
          border: 1.031em solid transparent;
          border-top-color: #ffffff;
          border-bottom: 0;
          margin-left: -1.031em;
          margin-bottom: -1.031em;
        }
      }
    }
  }

  #golden-separation {
    > div img {
      width: 290px;
    }
  }

  #games{
    text-align: center;
    .game-third-section{
      img{
        max-width: 420px;
        width: 100%;
      }
    }
  }

  #detail {
    .welcome {
      img:first-child {
        width: 100%;
        max-width: 500px;
      }
      img:first-child + img {
        width: 100%;
        max-width: 664px;
      }
    }
    .column-2 {
      img:first-child {
        width: 100%;
        max-width: 500px;
      }
      img:first-child + img {
        width: 100%;
        max-width: 664px;
      }
    }
  }

  #loyalty {
    text-align: center;
    h3 {
      color: $TEXT_COLOR;
    }
    img {
      width: 100%;
      max-width: 900px;
    }
    .banner img {
        width: 100%;
        max-width: 900px;
    }
  }

  #pods, #profile {
    .container {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
    }
  }

  #history {
    .container {
      .desktop {
        width: 100%;
        max-width: 863px;
      }
      .mobile {
        width: 100%;
        max-width: 700px;
      }
    }
    img {
      margin: auto;
    }
  }

  #profile {
    figure {
      margin: 10px auto;
      > img {
        width: 100%;
        max-width: 500px;
      }
    }
    .container {
      > div:first-child .sprite img {
        margin-left: -201px;
      }
    }
   .sprite {
     width: 201px;
     margin: auto;
     overflow: hidden;
   }
  }
}



/* Extra Small Devices, Phones */
@media only screen and (min-width : 576px) {
  #testimonials {
    display: none;
  }
  #pods {
    article {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .desktop{
    display: block;
  }
  .mobile{
    display: none;
  }
  #testimonials {
    display: block;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  #testimonials{
    .container{
      flex-wrap: nowrap;
    }
    .container:first-child{
      .testi{
        &:after{
          content: '';
          position: absolute;
          right: 0;
          top: 50%;
          width: 0;
          height: 0;
          border: 1.031em solid transparent;
          border-left-color: #ffffff;
          border-right: 0;
          border-bottom: 0;
          margin-top: -0.516em;
          margin-right: -1.031em;
        }
      }
    }
    .container:first-child + div{
      flex-direction: row;
      .testi{
        &:after{
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          width: 0;
          height: 0;
          border: 1.031em solid transparent;
          border-right-color: #ffffff;
          border-left: 0;
          border-bottom: 0;
          margin-top: -0.516em;
          margin-left: -1.031em;
        }
      }
    }
  }

  #detail {
    .container{
      padding-left: 10%;
      padding-right: 10%;
    }
  }

  #pods {
    .container {
      flex-wrap: nowrap;
      flex-direction: row;
      img {
        width: 100%;
        max-width: 295px;
      }
    }
  }

  #profile {
    p {
      padding: 0 10px;
    }
    figure {
      -ms-flex: 0 0 40%;
      flex: 0 0 40%;
      max-width: 40%;
      margin: 10px;
    }
  }

  .testi{
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 0 0 70%;
  }

  .feature-img{
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 0 0 30%;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
