/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  .desktop{
    display: none;
  }
  .mobile{
    display: block;
  }
  section,
  footer{
    padding: 20px 10px;
  }
  #hero {
    background: linear-gradient(rgba(132,5,217,.2),rgba(0,0,0,.6)),var(--bg-image-m) no-repeat top;
    background-size: cover;

    .loginbtn {
      position: absolute;
      top: 10px;
      right: 10px;

      a{
        text-decoration: none;
        color: inherit;
      }
      p {
        margin: 0;
      }
    }
    .container {
      > div {
        text-align: center;

        #header-text-wrapper {
            margin-top: 200px;
            width: 100%;
        }
        img:first-child {
          max-width: 200px;
          width: 100%;
        }
        img:first-child + img {
          max-width: 288px;
          width: 100%;
        }
        img:first-child + img + img {
          max-width: 288px;
          width: 100%;
        }

        div:last-child {
          p {
            font-size: 14px;
            margin: 0;
            span {
              background-color: #ff0375;
            }
          }
          button + p {
            font-size: 11px;
          }
        }
      }
    }
  }

  #testimonials{
    p {
      font-size: 14px;
      color: #000;
    }
    .container{
      flex-wrap: wrap;
      flex-direction: row;

      .feature-img{
        margin-top: 20px;
        img{
          width: auto;
        }
      }
    }
    .container:first-child + div{
      flex-direction: column-reverse;
    }
    .container:first-child{
      .testi{
        &:after{
          content: "";
          position: absolute;
          bottom: 0;
          right: 50%;
          width: 0;
          height: 0;
          border: 1.031em solid transparent;
          border-top-color: #ffffff;
          border-bottom: 0;
          margin-left: -1.031em;
          margin-bottom: -1.031em;
        }
      }
    }
    .container:first-child + div{
      .testi{
        &:after{
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0;
          height: 0;
          border: 1.031em solid transparent;
          border-top-color: #ffffff;
          border-bottom: 0;
          margin-left: -1.031em;
          margin-bottom: -1.031em;
        }
      }
    }
  }

  #games{
    text-align: center;
    .game-third-section{
      img{
        max-width: 420px;
        width: 100%;
      }
    }
  }

  #loyalty-program{
    img{
      max-width: 900px;
      width: 100%;
      height: 100%;
    }
  }
  #pods{
    .container{
        flex-wrap: wrap;
        flex-direction: row;

        img{
          max-width: 295px;
          width: 100%;
          margin: 20px auto;
          display: block;
        }
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 576px) {
  #testimonials {
    display: none;
  }
  #pods{
    .container > div{
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;

        img{
          width: 100%;
        }
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .desktop{
    display: block;
  }
  .mobile{
    display: none;
  }
  #testimonials {
    display: block;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  #hero{
    background: linear-gradient(rgba(132,5,217,.2),rgba(0,0,0,.6)),var(--bg-image) no-repeat top;
    background-size: cover;
  }
  #detail .container{
    padding-left: 20%;
    padding-right: 20%;
  }
  #testimonials{
    .container{
      flex-wrap: nowrap;
    }
    .container:first-child{
      .testi{
        &:after{
          content: '';
          position: absolute;
          right: 0;
          top: 50%;
          width: 0;
          height: 0;
          border: 1.031em solid transparent;
          border-left-color: #ffffff;
          border-right: 0;
          border-bottom: 0;
          margin-top: -0.516em;
          margin-right: -1.031em;
        }
      }
    }
    .container:first-child + div{
      flex-direction: row;

      .testi{
        &:after{
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          width: 0;
          height: 0;
          border: 1.031em solid transparent;
          border-right-color: #ffffff;
          border-left: 0;
          border-bottom: 0;
          margin-top: -0.516em;
          margin-left: -1.031em;
        }
      }
    }
  }

  .testi{
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 0 0 70%;
    max-height: 160px;
  }

  .feature-img{
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 0 0 30%;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  section,
  footer{
    padding: 50px 0;
  }
}
