.animated {
	-webkit-animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-duration: 1s;
	animation-fill-mode: both
}

.animated.infinite {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite
}

@-webkit-keyframes vjlp1v2fadeIn {
	0% {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

@keyframes vjlp1v2fadeIn {
	0% {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

.vjlp1v2fadeIn {
	-webkit-animation-name: vjlp1v2fadeIn;
	animation-name: vjlp1v2fadeIn
}

#login:hover{
  -webkit-animation-name: vjlp1v2pulse;
	animation-name: vjlp1v2pulse;
  -webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

@-webkit-keyframes vjlp1v2pulse {
	0% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1)
	}
	50% {
		-webkit-transform: scale3d(1.05, 1.05, 1.05);
		transform: scale3d(1.05, 1.05, 1.05)
	}
	to {
		-webkit-transform: scaleX(1);
		transform: scaleX(1)
	}
}

@keyframes vjlp1v2pulse {
	0% {
		-webkit-transform: scaleX(1);
		transform: scaleX(1)
	}
	50% {
		-webkit-transform: scale3d(1.05, 1.05, 1.05);
		transform: scale3d(1.05, 1.05, 1.05)
	}
	to {
		-webkit-transform: scaleX(1);
		transform: scaleX(1)
	}
}

.vjlp1v2pulse {
	-webkit-animation-name: vjlp1v2pulse;
	animation-name: vjlp1v2pulse
}
