.vjlp1-main{
  background: $BODY_BG;
}

.logo{
  max-width: 150px;
  width: 100%;
}
.material-icons {
  font-family: 'Material Icons';
}
h1{
  font-weight: 300;
  font-size: $HERO_TITLE_SIZE;
  color: $HERO_TITLE_COLOR;
  font-family: 'MainFont-DemiBold', sans-serif;
  letter-spacing: 0.3px;
  line-height: 38.4px;
}

.highlight{
  color: $TEXT_HIGHLIGHT;
}

h3{
  color: $H3_COLOR;
  font-size: $TEXT_SIZE;
  font-family: 'MainFont-Bold', sans-serif;
}

ul li, p {
  color: $TEXT_COLOR;
  font-size: $TEXT_SIZE;
}
a {
  text-decoration: none;
  border-bottom: 2px dashed #FEE63D;
  color: inherit;

  &:hover{
    color: #FEE63D;
  }
}

ul{
  padding-left: 20px;
}

button{
  background: $BTN_BG;
  width: 280px;
  border-radius: 100px;
  font-size: $TEXT_SIZE;
  border: none;
  padding: 10px 20px;

  a, a:hover{
    color: $BTN_COLOR;
  }

  &:hover{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.60);
  }
}

.separator{
  border-bottom: 3px solid #0093D4;
}

#login{
  position: absolute;
  top: 10px;
  right: 10px;
  color: $TEXT_COLOR;

  &:hover{
    -webkit-animation-name: pulse;
  	animation-name: pulse;
    -webkit-animation-iteration-count: infinite;
  	animation-iteration-count: infinite;
  }


  a{
    border: none;
    color: $TEXT_COLOR;
  }

  i{
    font-size: 32px;
    display: block;
    font-style: normal;
  }

  span{
    color: $TEXT_COLOR;
    font-size: $TEXT_SIZE;
  }
}

#hero{
  #hero-text-wrapper{
    background: -webkit-linear-gradient(top, rgba(0,159,227,0.8) 0%,rgba(236,0,139,0.8) 100%);
    background: linear-gradient(to bottom, rgba(0,159,227,0.8) 0%,rgba(236,0,139,0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc009fe3', endColorstr='#ccec008b',GradientType=0);
  }
  small{
    color: $TEXT_COLOR;
    font-size: 11px;
    margin-top: 20px;
    display: block;
  }
}

#steps{
  .num{
    background: #fff;
    color: $STEPS_NUM_COLOR;
  }
  p{
    color: $STEPS_DESC_COLOR;
    font-size: calc(#{$TEXT_SIZE} - 2px);
  }
}

footer{
  color: $TEXT_COLOR;
  font-size: $TEXT_SIZE;
}

#payment{
  img{
    width: 100%;
  }
}
