/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  .desktop{
    display: none;
  }
  .mobile{
    display: block;
  }
  section,
  footer{
      padding: 5px 10px;
  }
  #hero{
    background: var(--bg-image-m) no-repeat center bottom;
    background-size: cover;
    padding: 0;

    .container{
      min-height: 400px;
    }

    #hero-text-wrapper{
      text-align: center;
      display: flex;
      align-items: center;

      > div{
        width: 100%;
      }
    }
  }

  #steps{
    background: #EC008B;

    .container{
      display: block;
      text-align: center;

      > div{
        display: inline-block;
        vertical-align: top;
        width: 31%;
        overflow: hidden;
        margin-top: -30px;

        .num{
          width: 50px;
          height: 50px;
          align-items: center;
          display: flex;
          justify-content: center;
          border-radius: 50%;
          -moz-border-radius: 50%;
          font-size: 40px;
          font-weight: 700;
          margin: auto;
          font-family: 'MainFont-DemiBold';
        }

        h3{
          color: $STEPS_TITLE_COLOR;
        }

        p{
          text-align: center;
        }

      }
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 576px) {
  #steps{
    .container{
      > div {
        .num{
          width: 80px;
          height: 80px;
        }
      }
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .desktop{
    display: block;
  }
  .mobile{
    display: none;
  }
  #hero{
    background: var(--bg-image) no-repeat center left;
    background-size: cover;

    .container{
      min-height: 500px;
    }

    #hero-text-wrapper{
      -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
      background: -webkit-linear-gradient(top, rgba(0,159,227,0.8) 0%,rgba(236,0,139,0.8) 100%);
      background: linear-gradient(to bottom, rgba(0,159,227,0.8) 0%,rgba(236,0,139,0.8) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc009fe3', endColorstr='#ccec008b',GradientType=0);
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  section,
  footer{
    padding: 30px 0;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  #steps{
    .container{

      > div {
        margin-top: 0;

        > * {
          float: left;
          text-align: left;
        }

        h3{
          font-size: 32px;
          margin: 0;
          font-weight: 400;
        }

        .num + div{
          margin-left: 20px;
        }

        .num{
          width: 100px;
          height: 100px;
          font-size: 80px;
        }
      }
    }
  }
}
